[2013-11-04 00:17] ghost opened #1 "Enhancement suggestion: Aggregate functions"
Aggregate functions would be a useful enhancement. Mostly count() but possibly also other basic ones like min(), max(), avg(), sum()

[2013-11-04 00:18] ghost opened #2 "Enhancement suggestion: GROUP BY"
GROUP BY would be a great enhancement - especially in combination with aggregate functions

[2013-11-04 04:43] speter opened #3 "keywords clarification"
Nice work! I noticed that the docs list SELECT and INSERT as keywords but not DELETE or UPDATE. Is this just an omission or are those handled differently?

[2013-11-04 13:55] emicklei opened #4 "Api rename suggestions"
Current public api has functions called "NewRWCtx" and "OpenMem".
To understand what these functions do, one have to read the documentation.
In order to make programs that use this package more readable, consider renaming these functions such that their intensions are more clear.

Consider alternatives like "NewRWTransaction", "NewReadWriteTransaction" or "NewReadWriteContext". A suggestion for "O

[2013-11-04 22:51] krolaw opened #5 "Enhancement Suggestion : func Open(rws io.ReadWriteSeeker) (db *DB, err error)"
Abstract out the file/mem access so that it can be used on alternate setups, such as over a network, or in my case add an encryption layer for encrypted database files.

Thanks.

[2013-11-05 09:45] #4 closed, assigned to cznic

[2013-11-05 19:04] #1 closed, assigned to cznic

[2013-11-05 19:04] #2 closed, assigned to cznic

[2013-11-05 19:04] #3 closed, assigned to cznic

[2013-11-05 20:02] rwcarlsen opened #6 "implement std lib database/sql/driver interface"
It would be great to be able to swap ql in and out painlessly with other sql database drivers via the http://golang.org/pkg/database/sql/driver/ interface.

[2013-11-06 20:44] pericazivkovic opened #7 "Installation fails on MacOS"
go get does not compile on imac (OSX 10.9, XCode 5.0.1)

[code]

[2013-11-08 08:26] #7 closed, assigned to cznic

[2013-11-08 11:51] cznic opened #8 "DB close and reopen broken by DROP TABLE"
[code]

[2013-11-08 14:45] #8 closed, assigned to cznic

[2013-11-10 10:01] cznic opened #9 "Add []byte blob type."

[2013-11-10 10:02] cznic opened #10 "Add time.Time and time.Duration types"

[2013-11-10 10:03] cznic opened #11 "Add big.Int type"

[2013-11-10 10:03] cznic opened #12 "Add big.Rat type"

[2013-11-10 10:04] cznic opened #13 "Add a sql-92 subset emulation option"

[2013-11-10 14:32] #5 closed, assigned to cznic

[2013-11-12 07:12] jaekwon opened #14 "Add INDEX (KEY) type"
It appears that indices aren't supported. Indices would be nice :)

[2013-11-12 07:58] oov opened #15 "aggregate functions bug?"
[code]

I think aggregate functions must return 0 in this case.

[2013-11-12 09:05] cznic opened #16 "Add query planning and/or optimization"
# LongTerm

[2013-11-12 11:06] #15 closed, assigned to cznic

[2013-11-12 12:41] cznic opened #17 "INSERT INTO t SELECT fails for aggregate functions"
Originally reported by @oov in #15

[code]

[code]

[2013-11-12 13:09] #17 closed, assigned to cznic

[2013-11-13 11:54] rhedile opened #18 "Seeing an additional empty record on count()"
given: compRowsetSize = ql.MustCompile("SELECT count() FROM test;")

called as : // count() test on table with 4 tuples

[code]

returns:
do record []
do record [4]

The initial empty record is unexpected. What am i doing wrong?  Have i missed something in the documentation?

Nigel Vickers

[2013-11-25 12:47] #9 closed, assigned to cznic

[2013-11-25 17:17] #11 closed, assigned to cznic

[2013-11-26 10:22] #12 closed, assigned to cznic

[2013-11-27 15:58] #10 closed, assigned to cznic

[2013-12-05 13:00] jung-kurt opened #19 "Enhancement suggestion: export list type"
A common use case is to wrap `Execute` in a function that performs error management and other housekeeping tasks. However, this is prevented because the return value of `Compile` is not exported. I think it would be desirable to change

[code]

to

[code]

This keeps the statement list private but allows the caller to pass the list to other functions.

-- Kurt Jung

[2013-12-05 13:35] #19 closed, assigned to cznic

[2013-12-06 09:11] spd-asia opened #20 "List Tables..."
It would be great to be able to interrogate the database file.. ie. show tables, show create table, etc...

MySQL has SHOW TABLES

Sqlite can be accessed from the command line using dot commands...
example to list tables you can use '.tables ?PATTERN?'

[2013-12-06 09:11] spd-asia opened #21 "List Tables..."
It would be great to be able to interrogate the database file.. ie. show tables, show create table, etc...

MySQL has SHOW TABLES

Sqlite can be accessed from the command line using dot commands...
example to list tables you can use '.tables ?PATTERN?'

[2013-12-06 09:23] #21 closed, assigned to nobody

[2013-12-15 16:41] #20 closed, assigned to cznic

[2013-12-16 06:28] #18 closed, assigned to cznic

[2013-12-23 13:21] jung-kurt opened #22 "Enhancement suggestion: retrieve id() after record insert"
I am unable to find a convenient way to obtain the automatically assigned int identifier of an inserted record. Knowing the identifier within a transaction would make it easier to use as a foreign key. For example, SQLite has the `last_insert_rowid()` (from SQL) and `sqlite3_last_insert_rowid()` (from the API).

On a related note, is it more expensive to use `id()` than an ordinary column in a WHE

[2014-01-02 22:19] #22 closed, assigned to cznic

[2014-01-10 18:43] sdgoij opened #23 "Update fails if table has time (type) column"
[code]

[2014-01-12 17:37] #23 closed, assigned to cznic

[2014-03-05 09:21] cznic opened #24 "ideal int - complex coercion bug"
[code]

[2014-03-05 09:30] #24 closed, assigned to nobody

[2014-03-10 10:51] krolaw opened #25 "[]int8, []int16, []int32, []int64, []uint8 datatypes"
In the data I'm playing with, it's useful to contain groups of non-indexable integers, like storing one graph dataset per record.  To handle this situation, I intend to use blobs and then pull out each int with encoding/binary.Varint().

Then I wondered how cool would it be if ql extended the idea of the already supported []uint8 (blobs) and added support for arrays of all data types.

Thoughts? A

[2014-03-28 19:16] #6 closed, assigned to cznic

[2014-03-29 00:10] lunny opened #26 "How can I get all tables and columns by ql-driver?"
Could I get all tables and columns by SQL?

[2014-03-29 00:27] lunny opened #27 "SQL syntax requirement: "Drop Table If Exists tablename""
I can Drop Table talbename, but I need "Drop Table If Exists tablename".

[2014-03-29 00:36] lunny opened #28 "open multiple memory dbs and ql-driver supports"
I want `sql.Open("ql", "memory://ql.db")` to open a db on memory.

[2014-03-29 09:39] cznic opened #29 "{contains,hasPrefix,hasSuffix} cannot handle NULL values."
[code]

[2014-03-29 09:49] #29 closed, assigned to nobody

[2014-03-29 11:12] #27 closed, assigned to cznic

[2014-03-29 12:48] cznic opened #30 "Consider adopting github.com/bradfitz/go-sql-test"
# Thinking #LongTerm

[2014-03-30 09:29] cznic opened #31 "Select crashes after adding a new column to a table."
[code]

[2014-03-30 12:42] #31 closed, assigned to nobody

[2014-03-30 21:47] krolaw opened #32 "Allow custom structs as types"
type Booking struct {
   name string
   in, out time.Time
   comment string
}

db.Run(ctx,"CREATE TABLE Booking (at Time, booking ?)",Booking{})
db.Run(ctx,"INSERT INTO BOOKING (at,booking) VALUES (?,?)", time.Now(), &Booking{name:"John Smith",in:time.Date....})

So one can load an entire object without having to assign individual fields, AND be indexable IF the struct is comparable (all its field

[2014-03-31 02:51] kortschak opened #33 "time parsing-related test failure"
This looks like a tz issue.

[code]

[2014-04-04 19:51] jung-kurt opened #34 "Documentation clarification for parameters"
In the QL parameters section of the documentation, the line

`ql_parameter = ( "?" | "$" ) "0" … "9" { "0" … "9" } .`

should be

`ql_parameter = ( "?" | "$" ) "1" … "9" { "0" … "9" } .`

This is because the expression list in `DB.Run` and `DB.Execute` is 1-based. (Using `$0` or `?0` results in a panic.)

[2014-04-04 19:52] jung-kurt opened #35 "Clarification request for bigint and bigrat expressions"
Passing big.Int or big.Rat expressions by value causes DB.Execute to return an error:

[code]

However, passing in the address of these values succeeds.

Is this by design? If so, the documentation should clarify. (Sorry for the noise if I missed it.)

[2014-04-07 08:51] #35 closed, assigned to cznic

[2014-04-07 09:00] #34 closed, assigned to cznic

[2014-04-07 09:07] #16 closed, assigned to cznic

[2014-04-07 09:07] #14 closed, assigned to cznic

[2014-04-07 10:27] #28 closed, assigned to cznic

[2014-04-07 14:22] #26 closed, assigned to cznic

[2014-04-08 03:01] oov opened #36 "Select crashes after adding a new index to a table."
[code]

[2014-04-08 03:37] xiam opened #37 "WHERE clauses for __Table and __Column"
It looks like there is a problem using `WHERE` clauses in queries to `__Table` and `__Column` tables that makes a query fail as if the tables didn't exist.

This is an example case:

If I want to see all the tables within a database I could query the `__Table` table.

[code]

It works as expected, however, if I want to see an specific result adding `WHERE` it fails and throws an error:

[code]

I'

[2014-04-08 10:37] #36 closed, assigned to nobody

[2014-04-08 11:00] #37 closed, assigned to nobody

[2014-04-09 02:45] lunny opened #38 "Could not query "Select Name from __Table Where Name = $1"?"
and __Column and __Index is so on.

[2014-04-09 02:46] lunny opened #39 "Composite Index and composite Unique supports"

[2014-04-09 02:47] lunny opened #40 "Primary key autoincrement supports"

[2014-04-09 06:40] #38 closed, assigned to nobody

[2014-04-09 06:48] #40 closed, assigned to nobody

[2014-04-09 11:58] xiam opened #41 "Request for LIMIT and OFFSET clauses"
Suppose I want to select the first row of the `artist` table, I'd do a query like this:

[code]

However, it seems unsupported: the docs don't mention any `LIMIT` clause and the error message thrown is this:

[code]

Adding `LIMIT` would be a nice improvement for optimization, as it would allow the user to reduce the number of results given, or to pick just one result at will.

`OFFSET` would be a

[2014-04-11 11:13] #41 closed, assigned to nobody

[2014-04-12 02:04] xiam opened #42 "Test case: DELETE failing to remove a row"
There's and odd behavior on this script where `DELETE` fails to remove a row.

File `test_case.ql`

[code]

The expected output for this script is `0`, as we've deleted the rows before trying to count them again:

[code]

[2014-04-12 09:36] #42 closed, assigned to nobody

[2014-04-12 10:41] lunny opened #43 "select __Column returned does not exist"
[code]

[code]

[2014-04-12 12:16] #43 closed, assigned to nobody

[2014-04-15 13:31] cznic opened #44 "Deleting from a table with an unique index fails"
[code]

[2014-04-15 13:34] #44 closed, assigned to cznic

[2014-04-15 15:16] cznic opened #45 "Blobs > 64kB are mishandled on read (SELECT)."

[2014-04-15 15:17] #45 closed, assigned to cznic

[2014-04-16 01:46] lunny opened #46 "Add support for autocommit (was: "create unique error")"
[code]

Is a single sql still need to add a transaction?

[2014-04-17 05:20] codeskyblue opened #47 "Can ql use update not use a transaction?"
It can be more friendly if not force to use transaction when update.

[2014-04-17 06:40] #47 closed, assigned to nobody

[2014-04-17 08:21] cznic opened #48 "Allow optional SET clause in the UPDATE statement"
Makes the QL dialect a bit more [common](http://en.wikipedia.org/wiki/Update_%28SQL%29).

[2014-04-17 08:22] #48 closed, assigned to cznic

[2014-04-23 08:00] lunny opened #49 "corrupted DB: first chunk"
[sql] DELETE FROM userinfo WHERE id() == $1
[args] [1]

2014/04/23 15:58:37 corrupted DB: first chunk

[2014-04-23 10:41] cryptix opened #50 "internal error 004"
Hi,

I got strange mutations of id() (all beeing 1, random rows missing) from select queries until I added a check of `rows.Err()`.
I get `internal error 004` which i tracked down to [here](https://github.com/cznic/ql/blob/master/driver.go#L469).

I added a small `reflect.TypeOf` to the Errrof like this

[code]

and got this: `internal error 004 - Next() type: ql.chunk`

I don't know where this co

[2014-04-25 15:11] #50 closed, assigned to cznic

[2014-04-25 15:36] #49 closed, assigned to cznic

[2014-04-28 08:11] lunny opened #51 "corrupted DB: table data len 8"
[code]

[code]

[2014-04-29 06:05] lunny opened #52 "quote of column name or table name"
When I want to use bool or other keywords as table's name or column's name, it will return syntax error, so I think we can use a qutoe charector to avoid this just like other DBMS. How can I do via ql? Or could you add some one?

[2014-04-29 07:34] #52 closed, assigned to cznic

[2014-05-05 07:39] #51 closed, assigned to cznic

[2014-05-07 15:31] #32 closed, assigned to cznic

[2014-05-11 10:19] mtgxx opened #53 "undefined: strings.IndexByte in ql/etc.go"
Hi,

I've tried to  user the "ql" module but building it fails with:

[code]

[code]

Matthias

[2014-05-12 09:06] #53 closed, assigned to cznic

[2014-05-14 22:21] metakeule opened #55 "Add support for refential integrity"
Please add support for [referential integrity](http://en.wikipedia.org/wiki/Referential_integrity), e.g.

[code]

[2014-06-02 15:37] calmh opened #56 "Deadlock on SELECT"
I'm trying to use QL in a project, but run into a deadlock on the first attempt to write a test. Presumably I'm doing something wrong, but I'm not sure what.

http://play.golang.org/p/EWD9Aa98NH

The deadlock occurs on doing a `.Scan()` after a select returning no rows (line 54 in the playground link). It should be a pretty straight application of the example in http://golang.org/pkg/database/sql/

[2014-06-03 09:48] #56 closed, assigned to nobody

[2014-06-05 11:40] twitchyliquid64 opened #57 "How to get result data without using Do()"
HI there,

I am trying to wrap my head around getting data out of ql.

The issue I have with the do() function, which mandates having to have a callback to deal with the data. These seems like a bit overkill for simple applications, such as getting the first row.

Is there a simpler way to get result data? Or do I have to use Do()?

Thanks,
Tom

[2014-06-05 13:04] #57 closed, assigned to cznic

[2014-06-10 21:20] calmh opened #58 "Is not actually ACID"
It seems that a successful return from `Tx.Commit()` does not in fact mean that the transaction has been persisted, documentation to the contrary. This test program creates a database with a simple schema, begins a transaction, inserts five rows, commits the transaction and exits. After running on my machine (darwin/amd64) I end up with a 160 byte test.db (schema only) and an empty WAL file.

http

[2014-06-19 01:46] twitchyliquid64 opened #59 "Questions about scalability, and doing backups"
Hi There,

I had a quick look in the documentation, and I could not find any reference about how the DB scales.

I would like to know how I should expect it to behave performance wise as the number of records increases.

Consider the query:
`SELECT * FROM invoices WHERE customerid = $1;`
With an index:
`CREATE INDEX invoicesLookup ON invoices(customerid);`

What kind of performance can I 'expect'

[2014-07-18 15:56] thornton667 opened #60 "ASC Keyword -"
How do I get an Ascending Index Selection.

SELECT \* FROM t WHERE i > 110000 ORDER BY i ASC  does not work!!

I have tried every combination I can think of.  I would sure be nice to have some
examples of common SQL Operations.    Select from Range -- Selecting by ORDER ...

[2014-07-22 20:52] introkun opened #61 "SQL LIKE Operator"
What is QL replacement for SQL LIKE Operator?

[2014-07-23 08:41] #60 closed, assigned to nobody

[2014-07-30 19:36] introkun opened #62 "How to flush changes to database without Close()?"
Hi.

I don't see any changes unless I call to Close. I want to create table if it not exists and insert some data. But without calling to Close() after table create I can't insert because 'table doesn't exist'.

Sample of code:
http://pastebin.com/7JU5BNB9

I'm wondering how to get rid of Close() method after table creation.

Thanks in advance.

[2014-07-31 20:33] introkun opened #63 "ql tool crashes when comparing time column with integer"
Table:
CREATE TABLE Forecast (WeatherProvider string, Timestamp time, MinTemp int32, MaxTemp int32);

Expression that causes crash:
select \* from Forecast where Timestamp > 0

Output:
http://pastebin.com/8HxXTkZX

[2014-08-01 00:23] xiam opened #64 "Table relations using `id()`"
I'm trying to relate two different tables, `publication` and `artist` using `id()`, like this:

[code]

Could not find any example on the docs, is this supported?

[2014-08-01 11:45] #64 closed, assigned to cznic

[2014-08-01 12:51] #63 closed, assigned to cznic

[2014-08-14 09:47] 906447521 opened #66 "all goroutines are asleep - deadlock!"
[17:40:55 CST 2014/08/14] [WARN] stmt.Exec() Error - (file-018) cannot insert into unique index: duplicate value: 1
fatal error: all goroutines are asleep - deadlock!

goroutine 16 [semacquire]:
sync.runtime_Semacquire(0xc20802b768)
    /usr/local/go/src/pkg/runtime/sema.goc:199 +0x30
sync.(_RWMutex).RLock(0xc20802b75c)
    /usr/local/go/src/pkg/sync/rwmutex.go:36 +0x5e
emdb/ql.(_DB).run1(0xc20802

[2014-08-14 13:57] #66 closed, assigned to cznic

[2014-08-27 13:03] ghost opened #67 "A db created with one app cannot be read by another"
[code]

[write.go](https://gist.github.com/opennota/bac2ebc775565a39d7a0) | [read.go](https://gist.github.com/opennota/9d9087d86641cbac16c2)

It seems that it's caused by gob encoding, performed before opening the database (lines 13-17 in read.go).

[2014-08-29 14:51] cryptix opened #68 "can't UPDATE after ALTER TABLE"
Hi,

somehow I can't `UPDATE` the nil values in my table after I `ALTER`'ed it.
I get a `index out of range` panic..

I hope you can reproduce it with these 3 steps, too.

[code]

(work's, just for the test case)

[code]

(work's too, but has `<nil>`'s.. I'd like to have a default, the type's null value for instance)

[code]

[code]

crashes with this output:

[code]

[2014-09-01 09:43] #68 closed, assigned to cznic

[2014-09-01 12:05] #67 closed, assigned to cznic

[2014-09-01 14:26] #62 closed, assigned to cznic

[2014-09-01 16:27] #61 closed, assigned to cznic

[2014-09-03 14:19] ghost opened #69 "File already locked error"
It seems that write lock is not removed after commit. Am I doing something wrong?

[test.go](https://gist.github.com/opennota/78ba1fd506b7302bfe8b)

[code]

[2014-09-03 14:55] #69 closed, assigned to cznic

[2014-09-08 13:36] twitchyliquid64 opened #70 "Doing a query for a range of a float64 field is unacceptably slow"
This is my attempt at storing and using open street map data for my city, btw. There are over a million nodes. I want the following query to be as fast as possible (<150ms when the db is in RAM) because there are other queries to do nessesary to render a tile.

If I have a table:

And I run the query:

(I will add a Latitude range conditional too when I get this working well).

It takes over a min

[2014-09-10 05:26] twitchyliquid64 opened #71 "Question about minimizing memory usage"
Hi there,

The project I am currently working on involves reading an openstreetmaps file and inserting it into a database. As the objects are read from XML, they are sent to one of three workers via a channel - one worker for each type of object. Each worker does a commit every 1000 objects. ~~As such, there are three open transactions at most times.~~ Seems to be that you cant have simultaneous t

[2014-09-12 12:33] cryptix opened #72 "question about subqueries"
I want to drop rows in `tableA` that have no reference in `tableB` (simple `1:n`) but I can't figure out the QL syntax for it.

Something like this would work in other sql's.
[code]

I also tried doing the sub-query in the `from` field but I only get `syntax error`'s...
If it doesn't work (currently) I could work around it by doing it in two separate queries, I guess.

edit: guess I can't do the l

[2014-09-17 08:51] #71 closed, assigned to nobody

[2014-09-21 11:00] xiam opened #73 "Transactions and concurrency"
I'm attempting to use the `database/sql` driver for concurrent transactions and found some cases that I'd like to report:
## Case 1: Deadlock when attempting to get a transaction context on the same database file (with no concurrency)

The following trace was left for the program posted at the end of the issue. The program attempts to run the `sequentialTest()` function and it _sometimes_ fails. U

[2014-09-21 11:27] #73 closed, assigned to nobody

[2014-09-21 13:33] xiam opened #74 "NULL index is not considered duplicate"
I created an `artist` table with the following statement:

[code]

And I defined an index `artist_id`.

Then, I inserted some rows ignoring the `id` field.

[code]

If I execute a `SELECT`, I got a lot of duplicated IDs.

[code]

However, if I use a not `nil` value for id, the behavior is what I'd expect.

[code]

Under any circumstance `nil` should be equal to `nil`, so I think we should expect a

[2014-09-21 13:45] xiam opened #75 "Discussion: SERIAL/AUTO_INCREMENT for keys"
Some other SQL databases provide a [SERIAL](http://www.postgresql.org/docs/8.1/static/datatype.html#DATATYPE-SERIAL) or (AUTO_INCREMENT)[http://dev.mysql.com/doc/refman/5.0/en/example-auto-increment.html] property for keys.

QL has an `id()` function and it's useful, but there are some cases where it feels a bit limited:
1. What if I want to use a different name for the unique ID? Instead of `id()

[2014-09-21 14:31] #74 closed, assigned to nobody

[2014-09-21 18:24] #75 closed, assigned to nobody

[2014-09-21 21:46] xiam opened #76 "Type uint is converted to type int64 and fails to INSERT"
In this example a column is defined as `uint` and a `uint` argument is provided, but it looks like the driver converts the `uint` value into `int64` and then refuses to insert it:

[code]

I tried to implement the [ValueConverter](http://golang.org/src/pkg/database/sql/driver/types.go#L30) interface in the `driver.go` file (`func (s *driverStmt) ConvertValue(v interface{}) (driver.Value, error)`)

[2014-09-22 11:55] #76 closed, assigned to nobody

[2014-09-25 07:11] cznic opened #77 "Add FLUSH keyword"
Now that there's `DB.Flush()`, add a `FLUSH` statement. Inspired by MySQL's [FLUSH statement](http://dev.mysql.com/doc/refman/5.0/en/flush.html).

Related: #58

[2014-11-04 13:55] #33 closed, assigned to cznic

[2014-12-08 00:47] vtolstov opened #78 "failed to qeury from database"
schema created like:

[code]

outputs:

[code]

[2014-12-08 10:43] vtolstov opened #79 "joining tables"
I'm like sqlite3, but now i can try to use ql, why joining need == and not standard = ?
Also why && and not AND ?

[2014-12-08 11:20] #79 closed, assigned to nobody

[2014-12-08 15:32] cznic opened #80 "Use goyacc xerrors to produce better syntax errors."
Rightfully requested in #78   .

However #longterm

[2014-12-08 15:36] #78 closed, assigned to nobody

[2015-01-12 16:31] #58 closed

[2015-01-12 16:43] cznic commented on #77
No more needed due to closed #58.

[2015-01-12 16:43] #77 closed

[2015-01-17 19:30] nictuku opened #81 "cryptic syntax error when using && instead of AND in WHERE clause"
I'm getting a cryptic syntax error when I use AND in my WHERE clause.

        mail := "yves.junqueira@gmail.com"
        rows, err := db.Query(`SELECT content, t FROM profiles WHERE name == "heap" AND user == $1 ORDER BY t DESC LIMIT 1;`, mail)
        if err != nil {
                log.Fatalln("QUERY error:", err)
        }
        // Result: 2015/01/17 20:50:07 QUERY error: 1:54 syntax error

[2015-01-17 21:10] cznic commented on #81
True. See #80.

[2015-01-17 21:12] #81 closed

[2015-01-18 01:26] nictuku commented on #81
Fantastic, thank you!

[2015-02-16 12:31] cznic commented on #72
----

----

[code]

Commit follows.

[2015-02-18 19:27] cryptix opened #84 "can't UPDATE column with nil value"
Hi,

when I run the following snippet I get `panic: interface conversion: interface is nil, not ql.chunk`

[code]

[code]

Updating rows where `data != nil` works. This feels like a regression from #68 but I couldn't make it work by resetting the code to an older state.

[2015-02-18 19:27] cryptix commented on #72
Very nice! Highly appreciated!

[2015-02-18 19:36] cznic commented on #72
Sorry it took so long. Glad if it's useful ;-)

[2015-02-18 19:49] cznic commented on #84
Thanks for the report, I can reproduce the crash.

[code]

[2015-02-18 20:49] #84 closed

[2015-02-18 21:38] cryptix commented on #84
Perfect. Thanks!

[2015-02-18 21:45] cznic commented on #84
This time it was a bit sooner ;-)

[2015-02-23 09:55] cznic commented on #72
The implementation violated an important invariant - execution domain data must be held outside of the implementing instance (`type pIn` in this case). Reproduction case added as well as the fix (commit follows).

[2015-02-23 09:55] #72 closed

[2015-02-23 09:58] cznic commented on #72
@cryptix
Please udpdate your local copy.

[2015-02-23 10:03] cryptix commented on #72
@cznic thanks for the heads up!!! The new stuff only was in our dev branch until know. :relieved:

[2015-02-23 16:27] #80 closed

[2015-03-01 01:02] urandom commented on #39
Having a unique constraint that spans multiple columns is not that uncommon, so a unique index that works on multiple columns would be very welcome.

[2015-03-01 01:06] urandom opened #85 "Column not null constraint support and default values"
Hi,

Is there currently any way to specify that a column cannot have null values, as well as having default values for columns? If not, I hope these features are considered for inclusion at some point.

[2015-03-01 11:35] cznic commented on #85
No such way ATM. It's just a question of having enough time to implement it, as it involves new table metadata. The rest seems not too much complicated.

Support for default values is more or less like the above and so it probably would be the best to do both things at the same time.

[2015-03-01 11:37] cznic commented on #39
No doubt it's a useful feature.

[2015-03-04 11:22] srinathh opened #86 "QL not really "pure Go" - go get pulls in cznic/zappy that needs CGO environment"
I was trying to use QL on a Windows machine that does not have a C dev environment (and it is difficult to set one up because of work restrictions) mainly to get a simple "Pure Go" SQL embedded database. However, go get failed on a dependency that required a C environment

Is there a way to build QL as a "truly pure Go" library without any C dependencies?

[2015-03-04 12:34] cznic commented on #86
The C dependency is a speed improvement of [zappy](http://godoc.org/github.com/cznic/zappy) and it can be [disabled](http://godoc.org/github.com/cznic/zappy#hdr-Build_tags):

Please try (tested):

[code]

Alternatively, using go get (not tested):
[code]

[2015-03-05 03:24] srinathh commented on #86
Thanks! I can confirm the `go get` command line also seems to work... may I suggest adding it as an option in the README since one of the attractive features of QL is lack of CGO dependencies

[2015-03-05 03:24] #86 closed

[2015-03-05 08:52] cznic opened #87 "Document how to build pure Go QL"
Via #86 .

[2015-03-06 10:24] cznic opened #89 "Test.*Storage should not stop on first error by default."
Mentioned in https://github.com/cznic/ql/pull/88#issuecomment-77533404

[2015-03-06 14:02] urandom opened #90 "formatTime tests are failing"
On my machine, all tests that invoke formatTime fail, because the result displays the expected time, but in a different time zone:
[code]

[2015-03-06 14:14] cznic commented on #90
@kortschak
This seems very much like #33. Can you please let me know if that older issue, fixed already AFAICT, really fixed the problem also for you? IOW, in your timezone, do QL tests currently pass or not? Here it works (CET+1), for @urandom (I think CET+2) they fail and TBH, I don't know ATM why.

Thanks in advance Dan.

[2015-03-06 14:16] urandom commented on #90
The failures seem to be caused by the first entries, which specify the timezone. When calling time.Parse (from the parseTime function), the resulting time.Time object is in Local time. Any formatting after this point will be in whatever the local time zone happens to be, making the testing almost impossible.

One solution would be to change the parseTime function (and other built-in time functions

[2015-03-06 14:18] urandom commented on #90
p.s. Technically you don't even need to call t.Location() if you are going to store everything in UTC. Its sufficient to just call t.In(time.UTC) for every time object, regardless of the current location, as the function is just a glorified setter.

[2015-03-06 14:24] cznic commented on #90
Thanks for the infos!* I'll try to dive into it through the weekend, but if you, by chance, would have a patch ready before I wrap my head around this, then it would be, of course, more than welcome B-)

Please note: I want to keep any existing data/code working. To change a behavior of an existing built-in, it must be clearly a bug, but I don't yet got the issue principle (so far skimmed at it on

[2015-03-06 14:50] urandom commented on #90
You are right, there's little point in changing the data, and go probably stores the time itself in an a location-independent format, so my suggestion is invalid.

Another idea is to add another time function that sets the location, and use that for the tests:
 SELECT formatTime(timeLocation(a, "UTC"), "2006-01-02 15:04:05.999999999 -0700") ...

[2015-03-06 19:11] urandom commented on #90
This diff fixes all test problems for me:
[code]

[2015-03-06 19:17] kortschak commented on #90
I ran all ql tests a few weeks back and they all passed. I check again later today.

[2015-03-07 09:33] cznic commented on #90
Thanks a lot @kortschak and @urandom .

I'm gonna test the above patch and if it's going to work properly also for me then I'll commit it. After that I would like to ask you Dan to please run the tests again with the patch applied - to hopefully get "3 green".

[2015-03-07 10:20] kortschak commented on #90
Works here.

[2015-03-07 10:22] cznic commented on #90
Great, thank you very much!

[2015-03-07 10:22] #90 closed

[2015-03-07 10:53] #89 closed

[2015-03-19 20:12] davidsonff opened #91 "Outer Joins"
Hi!

This is a fantastic package! Thanks so much for working on it!

I've been looking and perhaps I've missed it, but is there any support for outer joins, e.g., right, left, and full outer joins?

Cheers!

Frank

[2015-04-12 09:46] cznic opened #94 "Figure out the cause of problem noted in #93."
Although the problem does not occur anymore, I still want to understand the root of the trouble. Details: see #93 .

[2015-04-14 08:46] cznic commented on #94
The panics produced by #92 and #93, while unwinding the stack, may of course skip proper updates of the state machine controlling in control of the transaction handling.

That handling is designed to cope correctly with errors, client API (ab)use errors - but not panics inside the QL code itself. Safe handling of such internal bugs is essential for a, say LLM, here the remedy is to fix the bugs in

[2015-04-14 08:46] #94 closed

[2015-04-16 15:03] #87 closed

[2015-04-16 15:25] cznic opened #95 "New metadata format."
Consider retiring the [old format](http://godoc.org/github.com/cznic/ql/design#hdr-Table_meta_data) in a backward compatible way. Introduce new (non virtual) system tables instead or reuse the existing virtual table names and add columns to accommodate for more/new properties, like proposed in #85 .

[2015-04-17 12:22] #95 closed

[2015-04-18 12:48] #85 closed

[2015-04-18 12:59] cznic commented on #85
@urandom please test and let me know of any problems you'll run into.

## Overview:

### Grammar change

[code]

The optional constraint clause has two forms. The first one is found in many SQL dialects.

[code]

This form prevents the data in column DepartmentName to be NULL.

The second form allows an arbitrary boolean expression to be used to validate the column. If the value of the expression

[2015-04-20 14:47] #91 closed

[2015-04-20 14:48] cznic commented on #91
@davidsonff Please test and let me know if something is wrong. Thank you.

[2015-04-23 08:09] urandom commented on #85
@cznic
So far everything I tested works wonderfully, thanks.

[2015-05-06 09:58] cznic opened #96 "BEGIN TRANSACTION can randomly corrupt the table list."
The table list is a doubly linked list in memory and a single linked list on disk. BEGIN TRANSACTION statement clones the memory version by ranging a register, which is a map[tableName]*table. Ranging maps have no deterministic order so the cloned memory table list may become out-of-order wrt the disk list with nasty corruption effects when persisted on next COMMIT.

[2015-05-06 10:12] #96 closed

[2015-05-07 11:31] rHermes opened #97 "QL Parameter in WHERE"
I'm trying to use this:

[code]
And it compiles, and I can use it in db.Execute, but it doesn't return a result. When I change $1 to Username and $2 to $1 and only pass one parameter to db.execute it works.

Am I doing something wrong or is this a bug?

[2015-05-07 11:42] cznic commented on #97
What are the two parameters you're passing? If they are `"Username"` and `"foo"` (for example) then execution of that query is equal to have a `WHERE false` clause, because the two strings are not equal. IOW, the column name to use in the comparison cannot be parametrized.

[2015-05-07 11:57] rHermes commented on #97
Ok, thank you :) Is there any plans to add support for such a feature?

[2015-05-07 12:00] cznic commented on #97
No plans ATM. However: Are you aware of a SQL database which supports this feature? If so, I would love to take a look on the implementation details/semantics and think about it.

[2015-05-07 12:40] rHermes commented on #97
I am very new to SQL in general!

QL is the first I've ever read the entire specification too, so I couldn't point you in any direction :)

For now I have just switched the code posted above for several hardcoded versions, and put a switch statement in the function that took the field. I just thought the idea was neat, it's no big thing.

I do want to give you a huge thank for making QL, I hope th

[2015-05-07 12:50] cznic commented on #97
You might be the first human to do so (entirely) except myself ;-)

I think it's possible to invent built-ins like `table(arg string)` or `column(arg string)` which will evaluate `arg` as a table or column respectively. I guess that this is not generally supported because it makes statement optimizing harder or perhaps even impossible in some cases. Another reason could be a security risk of allow

[2015-05-07 12:50] #97 closed

[2015-05-07 15:45] steveno commented on #97
This is basically dynamic sql.

Check this link in oracle docs for a quick overview.

http://docs.oracle.com/cd/B28359_01/appdev.111/b28427/pc_13dyn.htm#i2160

[2015-05-07 15:49] steveno commented on #97
That link didn't really go in the document where I wanted. Sorry. Check the "Methods for using dynamic sql" section Method 4.

[2015-05-07 16:01] cznic commented on #97
@steveno Thank you very much for the reference! My first impression is that the Oracle's solution is way more complex than I'd probably ever like to try to implement.

IMO, if there's some convincing argument for the technique mentioned in https://github.com/cznic/ql/issues/97#issuecomment-99852167, then I might change my mind, but for now I think even that minimalistic approach has more disadvant

[2015-05-08 05:31] rHermes commented on #97
I think QL should be simple, like it is now. The simpler and more straightforward the queries we are allowed to write are, the easier it will be for the optimizer to do it's job.

Also thanks @stevno for the interesting read! Oracle sure has a lot of nice articles :D

[2015-05-09 18:25] #39 closed

[2015-05-10 17:59] rHermes opened #98 "Record id is not table-unique"
It stands in the spec:
http://godoc.org/github.com/cznic/ql#hdr-Record_id
That the record id should be table-unique, but when creating records in different tables, it seems to me that the Record id is unique across the entire db.

Starting With two empty tables A and B, and creating an entry in first A then B, doing "Select id() FROM B" will yield 2, not 1.

Is this intentional or a bug?

[2015-05-11 08:15] cznic commented on #98
[code]

The ids seen above are table-unique as specified. So it's not a bug.

Note: Except for being table-unique, no other guarantees about the _values_ of table ids are given in the specs.

[2015-05-11 10:21] rHermes commented on #98
Aww, I should have seen that :)

[2015-05-11 10:21] #98 closed

[2015-05-23 14:56] sitano opened #99 "Memory/something leak"
1) Inserting wide rows with a lot of columns (~100) takes very long time.
Like inserting 100 rows 100 columns wide take 4000ms on my super machine.

2) Table recreation with DROP/TRUNCATE TABLE go QL crazy for huge leak of something. Time execution of inserts grows after every refill of inmemory db.

My test:

[code]

$ go tool pprof -alloc_objects

[code]

[2015-05-23 15:20] cznic commented on #99
Thanks for the report! Any repro code available would be useful to look at.

[2015-05-23 15:22] sitano commented on #99
actually, i dont have in public, but the idea is as follows:

[code]

[2015-05-23 15:35] cznic commented on #99
Thanks! Hope to dive into it this weekend.

[2015-05-23 15:37] sitano commented on #99
Awesome, thanks!

I did not find any info in your profile about Company or Purpose of this project. Can you share some info on your motivation on this?

Thanks btw for this project on Go. I use QL for querying cluster of Consul servers for its data.

[2015-05-24 15:47] cznic commented on #99
@sitano

I tried to reproduce the problem but I'm doing something wrong or I'm doing something diffently than you're doing.

Please try
[code]

It would be nice to let me know what you get on your PC.

My machine (Intel 4670 @ 3.4 Ghz) outputs
[code]

The above means the same takes on average < 24 milliseconds on my machine. Please review the test/bench [code](https://github.com/cznic/ql/blob/issu

[2015-05-24 18:37] cznic commented on #99
@sitano FYI: A modified test and benchmark was added. It uses a prepared statement and here is how the two versions compare

[code]

IOW, parsing the long insert statement in its textual form dominates both the time and memory consumption. Using the prepared statement seems to lower the average time to insert a 100+ column row to about 57 microseconds.

[2015-05-25 10:19] sitano commented on #99
yes, your test looks good:

[code]

i will do some research and make a report a bit later this week. thnx.

[2015-05-25 10:41] sitano commented on #99
I have found it! ;)

The issue is the CONSTRAINTs which are over FIELDS in the table definition (string DEFAULT "").

https://gist.github.com/sitano/a9260aac7bd40bc5310b

[2015-05-25 12:50] #99 closed

[2015-05-25 12:53] cznic commented on #99
Thank you very much @sitano for your contribution. Please test and please don't hesitate to report any (other) problem(s).

[2015-05-25 13:26] sitano commented on #99
Thank you @cznic too for your fast and outstanding support and
conversation. I was glad to met you. Have a nice day)

On 5/25/15, cznic <notifications@github.com> wrote:

--

All the best,

Ivan Prisyaznyy (Иван Присяжный),

Backend Everything,

Kaliningrad, Russia,

+79097757255

john.koepi@gmail.com

skype john.koepi1

twitter https://twitter.com/JohnKoepi

github https://github.com/sitano

link

[2015-05-27 16:03] cryptix opened #100 "race condition"
Hi,

i started seeing weird behavior when I started hitting a ql db with lots of parallel read-only queries through an http interface. Something like reading a set of binary data fields from a table, transforming it somehow and serving that.

At first the system just stalled and stopped answering requests with very high cpu load. If it continues, answering requests, the db layer would return no ro

[2015-05-27 17:00] cznic commented on #100
Thanks a lot for the report and the links!

**Important:** Please let me know the exact QL revision the linked reports are based on if that's not the latest release (dc45f4323aeed12e777d2a032ec2e11eeb3c3676).

[2015-05-27 17:02] cryptix commented on #100
Oh right.. This was reported running 329ce7f8930a8f3af240950cfe71dc0ffe714b43. I'll update and try again ASAP.

[2015-05-27 17:09] cryptix commented on #100
master also shows this behavior, as well. I can reproduce the logs if you want the up2date stack traces.

[2015-05-27 18:05] cznic commented on #100
Thanks a lot for the info. The existing links are fine, I think, now that I know the QL revision used. I hope to look into this issue tomorrow.

[2015-05-28 10:27] #100 closed

[2015-05-28 10:30] cznic commented on #100
@cryptix Thanks again for the perfect report.

Please test the new version and please let me know if the changes do not work for you. In such case please reopen this issue.

Note:
[code]

[2015-05-28 11:07] cryptix commented on #100
Thanks a ton for the fast fix!

The original query worked immediately.
For good measure, I also told the program to retrieve each of the parallel entries 20 times, which it also processed flawlessly and really fast, too.

[2015-05-28 11:18] cznic commented on #100
Glad to hear it seems to work. If you would have a chance also to rerun your whole app with -race, as that was failing before, it would be nice to know if it's now ok - or not.

My trouble is that I was not able to quickly hack some code which fails for -race, so I'm still a bit unsure if the patch is complete.

[2015-05-28 11:36] cryptix commented on #100
Oh, sure. I verified it with `-race` and it works, too. I tested `GOMAXPROCS=1` as well, to see if it can schedule the load, which it does!

(The whole thing takes 10 times as long to process with `-race` but I guess that's to be expected when your whole code base is riddled with counters ;) )

[2015-05-28 11:38] cznic commented on #100
Good news, thank you ;-)

[2015-05-31 09:51] cznic opened #101 "Blob-like types must be expanded prior to collating"
The expansion is not performed in some of the index plans.

[2015-05-31 09:52] #101 closed

[2015-06-10 08:03] cznic opened #102 "Interface conversion panic"
[code]

[2015-06-10 08:08] #102 closed

[2015-06-11 09:09] cznic opened #103 "Creating index on a non scalar column on a non empty table fails."
[code]

~~(FTR: Missed call to flatten.)~~

[2015-06-11 09:43] #103 closed

[2015-06-18 21:23] cryptix opened #105 "Query with []int64 slice for Where int IN (?)"
Hi,

since we have `SELECT ... From TableA with id() in (SELECT idA from TableB Where ...)`, can we find a way to make `int IN (...)` take a parameter for `...`?

I think we could get away with restricting the use slice Exec arguments to just these places.

In code: I'd like to use just the last example, which currently throws: `sql: converting Exec argument #0's type: unsupported type []int64, a

[2015-06-19 08:44] cznic commented on #105
I assume `with` is a typo and it should be `WHERE` instead. Then please note that the above is equivalent to

[code]

... which perhaps solves your task.

Other than that, implementing the proposal seems feasible to me through the native API. If it is at all possible to support the same thing while using the `database/sql` API is not clear to me ATM, I'll have to investigate. Please feel free to t

[2015-06-19 08:53] cryptix commented on #105
I wasn't sure how the sub-queries are handled internally, I assumed it would iterate the inner query and than pass the resulting slice to the outer `IN` predicate. From your answer it seems like there is some kind of rewriting going on?

My problem right now is, that ql refuses to take any sort of slice as an `Exec()` parameter and thus, I don't see a way to do this without generating a query stri

[2015-06-19 09:30] cznic commented on #105
Correction - What I really wanted to write is, for example:

[code]

equals

[code]

Currently the version with `IN` *is* more performant, namely when there exists a usable index on `expression`. I have ready a design which will make the cross join version perform better. It's only a matter of having a free day or two which I can dedicate to this task.

I took a brief look and what concerns passin

[2015-06-19 10:10] cryptix commented on #105
Thanks for the clarification.

Yup, I came up to the same conclusion while doing research on how lib/pq supports this.

In `lib/pq` land you can get away by implementing the [Value](http://localhost:6060/pkg/database/sql/driver/#Value) interface so that it converts the slice to postgres internal array representation and return it as a string like this: (References Issue lib/pq#327 and PR lib/pq#35

[2015-06-19 10:19] cryptix commented on #105
Hrm.. seeing the documentation on `Value` i'm not so sure anymore.

[code]

Is everything else really thrown away in error is it just a baseline recommendation?

[2015-06-19 10:26] cznic commented on #105
Thank you very much for the pointers and ideas. I don't yet have any answers to your questions, though. I hope to make some progress though this weekend. (?)

[2015-08-28 08:58] zan-xhipe opened #106 "sql driver Exec should creates its own transaction"
db, err := sql.Open("ql", "test.db")
	if err != nil {
		t.Fatal(err)
	}

	_, err = db.Exec("CREATE TABLE t (i int)")
	if err != nil {
		t.Fatal(err)
	}

[2015-08-28 09:40] cznic commented on #106
On a two week vacations currently. Will take a look after that.

[2015-08-31 12:35] xiam opened #107 "Transactions and concurrency over the same database"
Hello @cznic,

I've been experimenting with QL's transactions and it seems like it does not handle concurrent DB.Begin() calls on the same database in a concurrent manner.

In the following example I simulate multiple goroutines opening the same database and beginning transactions within that database.

[code]

Regardless of the concurrent nature of the program, beginning a transaction is always s

[2015-08-31 13:34] cznic commented on #107
Still on vacatios, will look into this next week...

[2015-10-26 23:58] mark-rushakoff opened #108 "Should I be able to execute a SELECT inside a transaction?"
I have some code that's trying to run a SELECT statement inside a transaction. It isn't working, and I'm not if *should* work.

Here's a trivial piece of code for what's going wrong:

[code]

It hangs on the call to `rs[0].FirstRow()`, and the stack trace from ctrl-\ is shown:

[code]

Should I be able to execute a SELECT statement inside an unfinished transaction?

[2015-10-27 09:26] cznic commented on #108
It should work.

This is essentially #56 again. The fix extended the `recordset` with a `tx` (transaction context) field which is correctly set only when using the `database/sql` API. This issue is the same thing happening on the direct API, because the tx field is, incorrectly, left `nil`.

[2015-10-27 09:45] #108 closed

[2015-10-27 09:51] cznic commented on #108
@mark-rushakoff
Thanks for the report. Please test and feel free to reopen if the fix does not work for you.

[2015-10-28 16:36] mark-rushakoff opened #109 "Behavior of FULL JOIN differs depending on whether an index exists"
This was the simplest test program I could put together to demonstrate the problem:

[code]

If you comment out the call to `createBuggyIndex` near the top of `main`, the program completes successfully; when the index is created, the behavior of the FULL JOIN statement in `countFullJoin` differs.

I'll admit that my SQL is a bit rusty and that I'm not sure which mode is the correct behavior, but I

[2015-10-28 16:49] cznic commented on #109
@mark-rushakoff
Thanks for the report. Surely having an index may change only performance, not the results, so it's a bug for sure.

[2015-10-29 09:57] cznic commented on #109
@mark-rushakoff
I used your reproduction code from this issue report. Please make a PR where you add yourself to the [CONTRIBUTORS file](https://github.com/cznic/ql/blob/master/CONTRIBUTORS). Thank you.

[2015-10-29 10:00] cznic commented on #109
@mark-rushakoff
You have been granted collaborator access to this repository.

[2015-10-30 10:25] cznic commented on #109
@mark-rushakoff
Could you please have a look at the below trace?
[code]
My sql-fu is perhaps weak today, however, it seems to me that actually the result seen at lines 68, 69 is correct. IOW, I think the respective no-index-involved result at line 19 (no result rows produced) is the actual error, not the other way around.

Maybe I'm mistaken, but in any case it would be nice to be sure where the e

[2015-10-30 12:10] cryptix opened #110 "panic: runtime error: invalid memory address or nil pointer dereference"
Can you make something out of this crash?

It happens 10 out of ~45.000 runs on my test suite using [stress](https://golang.org/x/tools/cmd/stress).

I was able to produce these under go 1.5.1 with freebsd/amd64 and linux/amd64.

[code]

[2015-10-30 12:40] cznic commented on #110
I have no idea how can I reproduce the issue. Please advise.

Anyway, a data race (in ql) is the usual suspect. Can you please try to build your test binary, which is then `stress`ed, using the `-race` option and catch the error under the race detector?

[2015-10-30 12:50] cznic commented on #110
@cryptix
Also, is your vendored ql revision the same (latest) version as my `master`?

[2015-10-30 13:01] cryptix commented on #110
re version: I ran this on 9c77931b60c6317f94de402268bbc3e8334b71f4 and than updated to b0c21f49a6f275ab43692fd5d9e9d2e5645293a3 to make sure it wasn't fixed.

re race: Indeed! Seeing the trace this might as well be a byproduct of my testing setup...

I'll reopen when I can reproduce this without goconvey/goroutine local storage involved.

[code]

[2015-10-30 13:01] #110 closed

[2015-10-30 15:59] cznic commented on #109
I *am* mistaken: The WHERE clause is evaluated only after the JOIN clause was already evaluated. [src](https://godoc.org/github.com/cznic/ql#hdr-Select_statement_evaluation_order)

And finally I notice that the above execution plan of the failing SELECT statement completely lacks the filtering of the WHERE clause, normally seen eg. at lines 15-18. That narrows the place of the bug.

[2015-10-30 19:06] #109 closed

[2015-10-30 19:14] cznic commented on #109
@mark-rushakoff
The planner erroneously "optimized" the where clause, when index was available, to be performed inside the outer join, but that changes semantics due to rules of extending the result set of outer joins . Note line 63.

[code]

Thanks for your kind cooperation.

[2015-10-30 20:39] mark-rushakoff commented on #109
Thanks for the quick fix!

[2015-11-04 03:17] wrouesnel opened #111 "Unique constraints?"
It might be possible, but it's not clear from the documentation at the moment - can unique column constraints be enforced by the driver at INSERT time?

[2015-11-04 03:58] wrouesnel commented on #111
Turns out you do just make a unique index.

[2015-11-04 03:58] #111 closed

[2015-11-08 21:06] wrouesnel opened #112 "time.Duration type is not marshalled to/from queries"
The time.Duration type is currently marshalled into and out of queries as an int64 type which is consistent with the underlying go type but produces a panic when doing the obvious thing and passing actual time.Duration types in and out.

It feels like the underlying code is missing a type switch somewhere to pick up the difference. It'd be good to fix since ql looks super appealing in supporting '

[2015-11-08 21:31] cznic commented on #112
I'm not sure where exactly the problem is rooted. The "native" API is designed to handle `time.Duration` values without problems. The `database/sql` API, OTOH depends on a limited types model, represented and documented at [`database/sql/driver.Value`](https://golang.org/pkg/database/sql/driver/#Value). Plase note that `time.Duration` is not one of the type supported by `database/sql/driver`, so "

[2015-11-08 22:36] wrouesnel commented on #112
I think that actually explains it - I didn't know about the db/sql library being limited, which of course is what I'm using.

[2015-11-08 22:37] wrouesnel commented on #112
In fact that's exactly it. Closing this.

[2015-11-08 22:37] #112 closed

[2015-12-06 02:53] wrouesnel opened #113 "Repeated panic from within ql library in application"
Within the `github.com/prometheus/alertmanager` I've been able to get a repeated crash that seems to originate from within QL after a running time of an hour or so with data being pushed into the DB. The panic is below:

OS:
Linux Kernel: `3.2.0-4-amd64`
Userspace: `Debian Squeeze`

also
Linux Kernel: `3.19.0-31-generic`
Userspace: `Ubuntu vivid`

Seen with golang `1.5.1` and `1.5.2` builds, and w

[2015-12-06 09:44] cznic commented on #113
Thanks for the report. Do we have any reproduction instructions and/or a self contained code that triggers the failure? If not, can you please try to run your code with `-race`? If that crashes, the race report could possibly help.

Also please add OS and Go version, thanks.

[2015-12-06 13:07] wrouesnel commented on #113
Running with the race `-race` detector does find races in the QL code, though I never saw a crash with it enabled.

I'll try and find a minimal example, but I suspect the best I can do is make the program in question reproduce the crash since it's not obvious to me where it's coming from.

[code]

[2015-12-07 10:23] cznic commented on #113
@wrouesnel

Please update to latest `master` branch and retest with `-race` if the fix works for you. If so, then we can get back to the original problem, provided the panic still occurs.

In the case your code triggers continues to trigger QL races with the latest master, the races have to be fixed first.

[2015-12-07 17:14] wrouesnel commented on #113
Building with the latest patch still finds a data race, which looks very much related to the crash as well (which sometimes is "bad hashmap state" and sometimes something else).

[code]

[2015-12-07 21:22] cznic commented on #113
@wrouesnel

Race fixed - in [lldb](https://github.com/cznic/exp/tree/master/lldb). Please update, retest and let me know the outcome. Thank you.

[2015-12-08 17:06] wrouesnel commented on #113
Latest patch has fixed all the data races I'm able to see.

[2015-12-08 17:27] wrouesnel commented on #113
I'm going to close this for now since hammering the AM with inputs doesn't seem to produce crashes anymore, and the old DBs I had which triggered them almost immediately seem to be behaving properly. I'll reopen if I can recreate the problem still.

[2015-12-08 17:27] #113 closed

[2015-12-08 17:28] cznic commented on #113
Thank you for your kind cooperation ;-)

[2016-01-05 11:05] h12w opened #115 "Object Database Support (e.g. OQL)"
Have you considered making ql an [Object Database](https://en.wikipedia.org/wiki/Object_database)?

As an embedded database in Golang, it will be far more valuable if it can store any hierarchical Go object and query on nested Go object fields rather than only primitive types and time types.

[2016-01-05 11:36] cznic commented on #115
@h12w

It's feasible and it's a hell of work. I'll probably never have that much available time to do it by myself. I can however provide help to anyone else wiling to write the code and tests.

I'll close the issue for now, but I'll happily reopen it would an volunteer leave a note here ;-)

[2016-01-05 11:36] #115 closed

[2016-01-07 23:20] extemporalgenome commented on #86
If it's just a speed improvement (functionally transparent), would it not be worth having a pure Go build be the default?

[2016-01-07 23:34] cznic commented on #86
If I would have to decide it today, I would do it the way you suggest. But I don't want to change what's not broken - to avoid breaking something else I cannot foresee.

[2016-01-08 00:07] extemporalgenome commented on #86
Of course ;)

[2016-01-25 06:53] renfredxh opened #116 "Multi-process database access"
Hi, I'm trying to use ql in a multi-process production environment (multiple servers using the same file system). I understand that ql is safe to use concurrently via multiple goroutines in the same process, but since the `OpenFile` method creates a lock on the `.db` file, it appears that more than one process cannot access a ql database at the same time. Is there any other way to accomplish this?

[2016-01-25 07:44] omeid commented on #116
Have a database microservice that other servers talk to.

[2016-01-25 10:03] cznic commented on #116
What @omeid said.

Alternatively, if the DB traffic is **really** low and no expensive, long running queries are required: Open the DB, do the short task, close it.

[2016-01-25 10:03] #116 closed

[2016-02-02 15:09] nekrondev opened #118 "Index on time field will fail select statement"
I created an index on a  time field. If I execute a select statement including the time field ql will report the following error:

**panic: EncodeScalars: unsupported type: time.Time in `[]interface {}{time.Time{sec:63590021584, nsec:621565300, loc:(*time.Location)(0xa83ee0)}, 0}`**

I broke down program execution flow to find at _file.go_ func (x *fileIndex) Seek(indexedValues []interface{}) (ind

[2016-02-03 12:05] #118 closed

[2016-02-19 11:35] nekrondev opened #119 "[FYI]: ql performance slowdown with latest go1.6 runtime"
Just for your information (there is no real issue with ql, but with new go1.6 runtime).

Post was asked on Reddits go1.6 AMA (https://www.reddit.com/r/golang/comments/46bd5h/ama_we_are_the_go_contributors_ask_us_anything/).

I just want to let you know my personal practical experience upgrading from go1.5.3 to go1.6 runtime. The upgrade went smooth on win7 os by replacing the old go1.5 directory w

[2016-02-19 11:41] cznic commented on #119
Thanks for the heads up. I should run `benchcmp` and probably fill an issue, although I doubt anything can be done about this before the 1.7 release.

As you cannot share the source code: Is it possible that you can share same profiling data of your app, the "hot" parts inside `ql`? Like 1.5.3 vs 1.6?

[2016-02-19 12:03] nekrondev commented on #119
One hint I found from another database projects performance issue (https://github.com/influxdata/influxdb/issues/5217). In that thread it was suggested to set env GOGC=1600. I did this and re-run my report generator and speed was then equal 1.5 runtime performance. So this is maybe not i/o, but GC releated (which was improved with shorter GC cycles times for 1.6). I will see if I can get more perf

[2016-02-19 12:58] cznic commented on #119
FTR: benchcmp 1.4 vs 1.6, ignoring that 1.4 benchmarks were run with (default) `GOMAXPROCS=1`, but 1.6 defaults to `NUMCPU`, which is 4 on this machine:

----
[code]

[2016-02-21 20:42] gesellix commented on #106
I encountered a similar issue while using `func (m *DbMap) CreateTablesIfNotExists() error`, which is not available in `Transaction{}`. Implicitly wrapping `Exec` calls in a transaction would help.

[2016-02-24 13:57] nekrondev commented on #119
Looks like GOGC fixed the issue for me and I can confirm that ql works now even faster! Using the GOGC runtime setting the process will use more memory before garbage collector kicks in. Thus more CPU power is left for the application, but requiering more memory.

I fixed the issue by addind the following line into my init() function:
debug.SetGCPercent(1600)

BTW: Thanks for the fast reply and be

[2016-02-24 14:38] cznic commented on #119
Glad to hear you were able to resolve the problem!

Closing now, but please do not hesitate to report issues.

[2016-02-24 14:38] #119 closed

[2016-03-05 09:48] onlyjob opened #121 "please tag formal releases"
Please consider assigning version numbers and tagging releases. Tags/releases
are quite useful for downstream package maintainers (in [Debian](http://debian.org) and other distributions) to export source tarballs, automatically track new releases and to declare dependencies between packages. Read more in the [Debian Upstream Guide](https://wiki.debian.org/UpstreamGuide#Releases_and_Versions).

Tha

[2016-03-05 09:58] cznic commented on #121
I'm not aware of a connection between ql and Debian. Is there any?

[2016-03-05 10:50] onlyjob commented on #121
There will be. :)
We hope to package _rkt_ for Debian and _ql_ is a dependency.

[2016-03-05 10:59] cznic commented on #121
Okay. I will first have to learn what to do and how to tell it to git. Have you by chance any pointers to some examples?

[2016-03-05 11:08] onlyjob commented on #121
Thanks. Above mentioned wikipedia page describes versioning pretty well.
"Semantic Versioning" paragraph of the Docker documentation provides short summary:

  https://github.com/docker/docker/blob/master/VENDORING.md#semantic-versioning

See also http://semver.org/

Basically the idea is to tag release when you feel it will serve users better than head of "master" branch in regards to stability e

[2016-03-05 11:17] cznic commented on #121
I think I understand semver. I have no idea about git tags/git version numbers ;-)

Anyway, thanks for your help, I will google what's needed.

[2016-03-05 11:55] cznic commented on #121
There's now a [tag v1.0.0](https://github.com/cznic/ql/tree/v1.0.0). Hope it's what you wanted ;-)

[2016-03-05 11:55] #121 closed

[2016-03-05 12:59] onlyjob commented on #121
Exactly. That is most helpful. Thank you so much. :)

[2016-03-12 07:32] onlyjob opened #122 "vendoring github.com/camlistore/go4/lock"
Please consider vendoring `github.com/camlistore/go4/lock`.
As they [highlight in details](https://github.com/camlistore/go4#details), "_go4 makes no backwards compatibility promises. If you want to use go4, vendor it._".
That's also why it is not feasible to ship _go4_ as package to satisfy dependency of _cznic/ql_...
Vendoring _go4/lock_ should help to make _ql_ distribution comprehensive and re

[2016-03-12 10:11] cznic commented on #122
@onlyjob Alternatively, would it be ok for your purposes if I will fork go4/lock and import this fork?

[2016-03-12 11:16] onlyjob commented on #122
I'm not sure... Embedded forks are usually a bad practice and camlistore/go4 is unpackageable mess... Is there are any better (maintained) alternatives to handle locks?
It should be OK to bundle fork but it means extra maintenance effort to sync with upstream and forward your improvements...

[2016-03-12 11:36] cznic commented on #122
Okay, I will vendor the package.

[2016-03-12 11:59] onlyjob commented on #122
Thank you. :)

[2016-03-12 13:35] cznic commented on #122
Please checkout and test branch `issue122` and let me know if fit for merging.

Note: `vendored` in the path is not a typo, I want to avoid any vendoring mechanism handling specially the `vendor` subdirectory.

[2016-03-16 10:25] cznic commented on #122
@onlyjob Gentle ping.

[2016-03-16 11:06] onlyjob commented on #122
Sorry for delay. I have to deal with some other priorities for now... I'll get back to it as soon as I can...

[2016-03-16 11:06] cznic commented on #122
No problem, no hurry ;-)

[2016-03-18 14:13] eliasnaur opened #124 "ORDER BY only return rows if there is an implicit index"
I've created a test that demonstrates 2 issues:

https://play.golang.org/p/oxwbAIBIQT

Running go test gives

--- FAIL: TestIndex (0.10s)
	index_test.go:41: unknown field _date
	index_test.go:44: TestIndex: got  exp 1234

- First, the the error at line 41 is triggered because ql requires any fields listed in ORDER BY to also be listed in SELECT. That's unexpected for fields only used for sorting,

[2016-03-18 14:57] cznic commented on #124
(A) Error at line 41 is real wrt the documentation. I have yet to figure out what to fix. The problem is that the [select statement evaluation order](https://godoc.org/github.com/cznic/ql#hdr-Select_statement_evaluation_order) reflects how the engine works, ie. at step 5 all non selected expressions do not propagate to later stages. Fixing this is probably possible, but not exactly trivial, I'm af

[2016-03-18 15:24] eliasnaur commented on #124
You're right about line 44 of course, and I seem to have confused myself with what seemed like a bug that ORDER BY didn't work at all without explicit indices, even when including all fields in SELECT. As I can't reproduce that error, the only remaining complaint is (A), that the ORDER BY fields have to be SELECT'ed.

With that in mind, I think this issue should be closed. If you think it is worth

[2016-03-18 16:02] #124 closed

[2016-03-19 05:32] onlyjob commented on #122
Looks good, thank you. It might be a good idea to vendor `github.com/cznic/exp` as well because it is considered to be unstable just like `camlistore/go4`?

[2016-03-19 05:45] cznic commented on #122
Thanks for looking into this.

Will do.

[2016-03-19 05:53] onlyjob commented on #122
Thank you.

[2016-03-19 10:58] cznic commented on #122
PTAL

[2016-03-19 11:11] onlyjob commented on #122
?

[2016-03-19 14:17] xiam commented on #122
I was having this problem:

[code]

But I guess that is related to this other one, right?

[2016-03-19 15:27] cznic opened #125 "Go get fails due to camlistore canonical import paths."
These were added 6 days ago. It breaks `go get`ting `ql` and `ql\ql`. Thanks @xiam for the report at #122 .

Fix for the master branch, which is the one `go get` check out, follows.

[2016-03-19 15:31] #125 closed

[2016-03-19 15:32] cznic commented on #122
@onlyjob

Please elaborate, I'm slow today ;-)

[2016-03-20 00:37] onlyjob commented on #122
I was hoping you can elaborate on "PTAL". What is it stand for?

[2016-03-20 08:20] cznic commented on #122
My apologies for not being clear!

It means: Please Také Another Look.

[2016-03-23 07:07] onlyjob commented on #122
Looks good, thank you. :)

[2016-03-23 10:05] #122 closed

[2016-04-02 01:33] jvatic opened #126 "Data race"
[code]

[2016-04-02 02:11] cznic commented on #126
Thanks for the report. Do you have a self contained reproduction case?

[2016-04-02 19:04] cznic commented on #126
Ok, will investigate it.

[2016-04-03 09:59] cznic commented on #126
Please checkout branch `issue126` and test if you can confirm that it fixes the race. Please let me know the outcome, thank you.

[2016-04-03 16:04] jvatic commented on #126
@cznic This does appear to fix the race (the reproduction case I'm using is within another project and is intermittent but occurs frequently, running the case several times after applying the fix has not caused the issue to surface).

[2016-04-03 16:26] #126 closed

[2016-04-03 16:29] cznic commented on #126
Thank you very much for the confirmation.

[2016-05-31 21:20] alexflint commented on #52
Without quoted identifiers it's quite difficult to make ORMs work with ql. The issue is that table names might be generated programmatically from e.g. the name of a struct, but then if the user passes a struct named `Table` then you end up with a syntax error. So the ORM needs a complete list of ql reserved words, which is tricky to maintain.

[2016-07-06 14:50] s-urbaniak opened #128 "Consider using go's native vendoring mechanism"
Hello,

We recognized that starting from that commit:

https://github.com/cznic/ql/commit/f50fc7d29ffc99ce551064ea56bacb92dbf4364c#diff-21ce9dcd10d134f8b0f327ac1ee4aa4dR24

ql started vendoring the `go4.org/lock` library as well as the `github.com/cznic/exp/lldb` library in a way that does not play well with other vendoring tools, i.e. glide.

Can you elaborate on the reasoning why you chose "vend

[2016-07-06 15:05] calmh commented on #128
This being an importable library, it should not vendor at all as far as I understand?

[2016-07-06 15:10] s-urbaniak commented on #128
Right, if ql envisions to be a library-only it should strongly consider not to vendor at all.

[2016-07-06 15:15] cznic commented on #128
I have never used any vendoring mechanism, which means I have never had any reason to read anything about how it works. When I was asked to vendor some packages with ql, I used "vendored" in hope to not interfere with any vendoring mechanism I have no knowledge about.

I will appreciate if you can please explain to me in more detail what

means. Thank you.

That is my opinion as well, but then the

[2016-07-06 15:24] calmh commented on #128
Debian usually removes any vendoring in things it packages, so i have no idea what that is about.

[2016-07-06 15:46] s-urbaniak commented on #128
Hey @cznic, thanks a lot for the quick response :-) Unfortunately the vendoring situation in the Go ecosystem is not in the best shape right now, I agree :-(

What I meant with:

Tools like https://github.com/Masterminds/glide actually are aware of nested vendored dependencies. So if you import `lock` and `lldb`, these tools will "flatten" nested vendored dependencies from:

[code]
to
[code]

Sinc

[2016-07-06 16:17] cznic commented on #128
@s-urbaniak Thank you for the explanation, appreciated. I even think I understood it ;-)

First two things which jumped to my mind are

- Need to know @onlyjob 's opinion first as I don't want to [possibly] break what was made for his earlier request (#122) without him approving such change.
- Is there any [good] option to, if at all using vendoring, use the mechanism supported directly be the Go

[2016-07-06 17:21] calmh commented on #128
Go vendoring should not be done by libraries (I.e., non-`main` packages), at all, ever. If there's a specific version of a dependency that this package requires I think the only solution today is to state that in the readme and let the consuming project vendor as appropriate.

[2016-07-06 17:42] lucab commented on #128
That's what @s-urbaniak proposal's would achieve. Having a glide manifest but no /vendor dir will mean that consumer apps will be pinned to the version specified here, but no actual code would be vendored in this repo. That would be automatic and tool-supported, as opposed to having this human-only info in the README.

[2016-07-06 18:15] s-urbaniak commented on #128
@calmh yes, that is exactly the consensus in Go currently, hence my proposal to leave only metadata about dependencies checked in.

[2016-07-07 01:03] onlyjob commented on #128
Go native vendoring could be applied to everything but `github.com/camlistore/go4/lock` due to problems described in #122. Unfortunately _go4/lock_ is a part of large and messy code repository with many dependencies. _ql_ uses small portion of _go4_ and the latter is unstable to package separately. Moreover they strongly encourage vendoring and for re-distribution it is useful when _go4/lock_ is v

[2016-07-07 06:13] calmh commented on #128
That's a small package, I'd probably just copy it out as `github.com/cznic/ql/internal/lock` and be done with it.

[2016-07-07 06:23] s-urbaniak commented on #128
@calmh That's indeed a good idea, but also `lldb` is vendored that way, I have some idea around that and will come up with a suggestion PR.

[2016-07-07 07:38] onlyjob commented on #128
Sorry, @calmh, what do you mean "copy it out"? And why?
Please keep it as it is if you could. How is copying it out should help? We shouldn't ship those libs separately...

[2016-07-07 07:40] peterbourgon commented on #128
@onlyjob "Copying out" means manually copying the source files into this repository, so that it ceases to be a dependency. A good strategy when the dep isn't large; [a little copying is better than a little dependency](https://go-proverbs.github.io/).

[2016-07-07 08:06] s-urbaniak commented on #128
As @peterbourgon found [github.com/cznic/ql#Options](https://godoc.org/github.com/cznic/ql#Options) let's  [github.com/cznic/ql/vendored/github.com/cznic/exp/lldb#OSFile](https://godoc.org/github.com/cznic/ql/vendored/github.com/cznic/exp/lldb#OSFile) escape, hence if a consumer pulls in [github.com/cznic/ql](https://godoc.org/github.com/cznic/ql), this will be of a different type than [github.com

[2016-07-07 08:47] onlyjob commented on #128
I think I would understand term "copying in" but "copying out" in regards to "copying the source files into this repository" is confusing... :)

At the moment those deps are "sub-vendored" i.e. copied in, and imported from "vendored" directory.
What's wrong with that? Is there are any known collisions between "vendored" directory and Golang vendoring tools? I do not understand what problem you are

[2016-07-07 09:20] s-urbaniak commented on #128
@onlyjob The problem is (as explained above) that the vendored `github.com/cznic/ql/vendored/github.com/cznic/exp/lldb#OSFile` interface escapes the public API of `ql`, hence consumers won't be able to use `github.com/cznic/exp/lldb#OSFile`, since they are of different type, and no type coercion is possible.

Also see the https://github.com/peterbourgon/wtf repository for a distilled version of th

[2016-07-07 09:27] fabxc commented on #128
One of the types exposed by the API of `ql` returns a type from the `vendored` directory. Hence, one has to import the vendored package as a user of `ql`. This is no sane practice.

Libraries should not vendor and more importantly not expose customly vendored types.

[2016-07-07 09:42] cznic commented on #128
I think I understand all of the problem(s) discussed above. My decision is to not take sides on this and to do whatever *all of you guys* agree to do (or not to do). I hope there's no hurry, so please discuss and please find a consensus, whatever it will be. Let me explicitly say that it means I don't want to *break* the #122 changes without @onlyjob feeling comfortable with it, regardless of what

[2016-07-08 07:08] onlyjob commented on #128
Problem originates from special treatment of "vendor" directory by Golang, right? Is "vendored" directory affected as well? If so then renaming it to "external" (or something similar) should address the problem.
I had a look at "wtf" repository and I think it is a typical example of broken/incorrect "inside-out" approach that is so typical to Golang. No, it is not binary's responsibility to "vendo

[2016-07-08 07:13] s-urbaniak commented on #128
@onlyjob Hey, thanks for your comments.

Unfortunately in the case of `ql` your assesment only applies to the vendored `lock` library, but not to `lldb`. As I explained above, `OSFile` leaks, hence it is not a private library used internally. The problem still remains in this case. As for `lock`, yes, this could be left internally "vendored", as long as no types leak in the `ql` API.

[2016-07-08 09:18] cznic commented on #128
When "vedoring" `lldb`, I didn't realize the leaking problem. It was an oversight.

@onlyjob , do you see a chance for correcting this mistake while keeping the Debian package up to standards? If necessary, `cznic/exp can` be killed (it was always marked as experimental/unstable) and its packages can become standalone with a stable status. It would mean taking care of one more package for the main

[2016-07-09 04:34] onlyjob commented on #128
Due to my illiteracy in Goland I don't understand the problem with sub-vendoring "leaky" libraries but I'll take care of "lldb" packaging if it will be split from "cznic/exp" into its own repository. @cznic, thank you very much for your careful and reasonable approach. :)

[2016-07-09 05:04] s-urbaniak commented on #128
@onlyjob @cznic thanks!

[2016-07-18 15:58] mjgarton opened #129 "Optionally disable compression with disk backed databases"
I would like to be able to disable zappy compression for disk backed databases.  In my quick testing locally, this improved write throughput significantly for me.

If this is seen as a useful feature, let me know and I may try to work on a PR.

[2016-07-18 16:11] cznic commented on #129
Feel free to make a stab at it. (See [`Options`](http://godoc.org/github.com/cznic/ql#Options)). I'll be happy to review your PR ;-)

Please note:

- Disabling compression may affect `lldb.BTree` performance / space requirements as it's used by all indices.
- Recently I'm working on `lldb` branches which will hopefully somehow improve `ql` performance. I think I will merge them later today/tomorro

[2016-07-18 20:43] mjgarton commented on #129
Thanks for the quick response.  I will probably wait until your branches are merged and then re-measure the expected gains from disabling compression in my use case before I proceed.

[2016-07-19 16:18] cznic commented on #129
`lldb` branches merged.

[code]

Should update your local repo clones. Please test and report issues, if any. Thank you.

[2016-07-29 12:22] squaremo opened #131 "Support SQL equals comparison"
Having a `database/sql` driver but using `==` to mean equals, instead of the standard `=`, seems counterproductive. After all, the point of being behind a driver interface is surely that someone can write queries that can be processed by different database products.

[2016-07-29 14:16] squaremo commented on #131
You fixed this and made a release before I'd got around to working around it in my own code :+1:

[2016-08-21 15:59] rasabbey opened #132 "unable to GROUP BY, or ORDER BY on Android -- "open /tmp/ql-tmp-260419420: no such file or directory""
Hi Cznic, thank you very much for this library.

Please correct me if my conclusion is wrong.

After going through the source I believe this bug occurs because the "/tmp/" folder is not present or writable on a lot of Android devices.

As per the comment on line **122** in file  **github.com/cznic/file.go**

[2016-08-23 05:32] cznic commented on #132
Please ping me in Two weeks, I am away from a PC.

[2016-08-23 08:30] rasabbey commented on #132
No Problem, I put a temporary fix in my local copy but it is "crude".

Will ping in  a couple of weeks

[2016-08-23 08:53] calmh commented on #132
FWIW, `TempFile` should work properly when built with `GOOS=android`.

[2016-08-23 13:37] rasabbey commented on #132
@calmh , Thanks for pitching in.

Unfortunately am not able to build/compile with the flag `GOOS=android`

I am attempting to create a ".aar" library to be imported into Android Studio.

command used was:
`GOOS=android gomobile bind -target=android -o myapp.aar -ldflags "-s -w"`

error received was:
[code]

[2016-08-23 13:58] cznic commented on #132
I have unfortunately never used Go with gomobile. Can you please try with latest stable, ie. go1.7, if, by chance, it gets any farther?

I am disappointed that FileTemp, as @calmh points out, does not adhere to platform specifics (if I understood the comment correctly).

[2016-08-23 17:38] calmh commented on #132
No, it does, it's just that Android is not Linux, does not have a /tmp, and requires GOOS=android building. How to do that successfully I don't know, it's just that I ran into the same temp file issue on another project.

[2016-09-01 15:08] sqdk opened #133 "Unable to compile without cgo using go 1.7 on Windows 8.1"
Hi everyone,

I am having some trouble building ql without cgo.

I am using go 1.7 on Windows 8.1.

I tried cleaning my directories, and following the guide here: https://godoc.org/github.com/cznic/ql#hdr-Building_non_CGO_QL to build it, but zappy is complaining that `gcc` is not in my path.

These are the steps that i have tried:

[code]

If it matters, i am running the commands through git-bash

[2016-09-01 15:38] cznic commented on #133
Can you please try `go build -tags purego`?

[2016-09-01 15:46] sqdk commented on #133
Thanks @cznic, that worked perfect. So I was missing something.

Thanks a lot!

[2016-09-01 15:46] #133 closed

[2016-09-05 05:29] mowings opened #134 "Any simple way of only inserting a record if it doesn't already exist?"
I tried to use a unique index that describes the keys that make a record distinct, but unless I abort the transaction (which I don't want to do because this is a bulk  insert, and I'd lose 100s of good inserts),  the row still gets inserted -- even though ql reports the unique index error. I'm not sure if this is a bug or not -- I  would think that if the insert returned an error, then the row ins

[2016-09-05 09:57] cznic commented on #132
I'm back.

@rasabbey I'm not sure what I can do for you. Please let me know about the progress on this, if any.

[2016-09-05 10:02] cznic commented on #134
Do you have an example of how this is usually done in other RDBMs? Then I would like to figure out if this is a feature request or a bug report (or both).

If there's a bug in inserting into a table with unique index please fill in a separate issue for that. Of course, a small, self-contained reproduction case is needed to investigate further.

Thanks!

[2016-09-05 11:32] rasabbey commented on #132
@cznic welcome back,

I only put a temporary fix to check if an sdcard exists and use that instead.
it is a crude fix, mainly because am working on other aspects of the application and
hoping to get back to the db section in about a week and do a better fix.

[2016-09-05 11:34] cznic commented on #132
Looking forward your PR :smile:

[2016-09-05 15:42] mowings commented on #134
Most of my experience is with postgres -- ordinarily an error in a transaction (including violating a unique index on an insert) would rollback the entire transaction. I think this is probably standard behavior for most databases. I'll try to get an example together and post it here. Note, of course, that this would not have gotten me the the behavior I wanted in my bulk inserts anyway. I'm pretty

[2016-09-05 15:59] cznic commented on #134
Thanks for the info. I think the proper order is to first fix the existing bug and then decide how to design the feature.

Then comes the hard part - implementing it ;-)

BTW, do I understand correctly that what you are after is `INSERT ON CONFLICT IGNORE`, correct? If so, then the minimal subset to implement could possibly be the `sqlite`'s flavor of the same, spelled `INSERT OR IGNORE`. What you

[2016-09-05 16:08] mowings commented on #134
I think in my case, a CONFLICT IGNORE would be fine. But I'm pretty sure folks will want the remainder of the CONFLICT semantics in sqlite (CONFLICT REPLACE, CONFLICT ROLLBACK, etc). But IGNORE would be an awesome start (and probably be easier to implement), and would probably cover 75% of the ON CONFLICT use cases.

[2016-09-05 16:09] cznic commented on #134
Good news ;-)

[2016-09-09 18:01] fatihcode opened #135 "Record size limit for file backed db"
@cznic : Can you give some details about record size limit?

[code]
Why 65kb and can it be changed?

[2016-09-10 09:32] cznic commented on #135
The limitation comes from the underlying [engine](https://github.com/cznic/lldb). It's a bit more than 64kB for the whole record and, actually, 64kB-1 for strings.

It cannot be changed ATM. The limitation can be to some extent bypassed using blobs as they do not have that limit.

[code]

Note that one can freely [convert](https://godoc.org/github.com/cznic/ql#hdr-Conversions_to_and_from_a_string_

[2016-09-10 16:23] fatihcode commented on #135
Thank you for the details. I was looking for `blob` thing 👍

[2016-09-10 16:23] #135 closed

[2016-09-13 01:10] fatihcode opened #136 "Multiple joins?"
Is there a support for multiple joins? I couldn't make it work and want make sure whether it's supported or not.

[2016-09-13 09:10] cznic commented on #134
@mowings

Gentle ping. Looking forward the repro case / description of the bug ;-)

[2016-09-13 09:27] cznic commented on #136
For example

[code]

[2016-09-13 19:25] fatihcode commented on #136
Sorry for not being more specific. I was talking about `{LEFT,RIGHT,FULL} [OUTER] JOIN`

for example;

[code]

[2016-09-14 03:18] fatihcode commented on #136
fyi - currently I'm using temporary tables in a transaction block. Basically joining tables one by one and it's little bit extra work.

[2016-09-14 10:19] cznic commented on #136
The [documented grammar](https://godoc.org/github.com/cznic/ql#hdr-SELECT_FROM) does not allow nesting of the join clause. That should be fixed (PRs weclome :smile:).

AFAICT, something like this should work

[code]

but it does not work

[code]

The problem seems to be that the inner join does not output the proper field names so the outer join fails. I will fill a separate issue for this.

[2016-09-14 10:21] cznic opened #137 "Nested select statement result set fields unnamed when using join clause"
Details in #136 .

[2016-09-15 02:44] fatihcode commented on #136
Yes I tired the way you tired and it didn't worked. I thought it wasn't supported. That's why I'm joining them one by one by creating temporary tables. Unfortunately I'm quite busy for a PR atm. But I will keep it in my mind and try it when I have a chance. Sorry about that :(

[2016-09-22 19:13] gedw99 commented on #132
I also am using this with gomobile to make an aar package.

It's really because an a droid app has no ability to write anywhere.

Elias Naur will probably know the answer I suspect.
I am on mobile and can't find his github handle :)

[2016-10-13 15:46] peterbourgon opened #138 "Inconsistent column selection behavior?"
[code]

I'm probably doing something wrong?

[2016-10-13 16:39] cznic commented on #138
It's complicated, IINM ;-)

[code]

The `ORDER BY` pipeline stage cannot check the validity of `foo.t` before getting the first result from the `SELECT` stage. The reason is that the particular combination of `select` and `from` can produce field names and field qualifiers not known at prepare ("compile") time. Select statements can be compiled before the underlying tables even exist.

In case `(1

[2016-10-14 15:06] peterbourgon commented on #138
OK! Thanks for the fast reply and the workaround.

[2016-10-14 15:06] #138 closed

[2016-10-21 09:29] joeblew99 opened #139 "mobile testing"
Has anyone had any experience with compiling this to Android or IOS using the standard "gomobile build", as opposed to using the "gomobile bind" ?

[2016-10-21 10:05] cznic commented on #139
Possibly related #132 .

[2016-10-21 10:50] joeblew99 commented on #139
yes it will be.

on android the file to write to is the same as where the apk is installed to on the disk.

So the code needs to simple ask where its running and it can write in the same place.

Does this help ?

[2016-10-21 11:06] cznic commented on #139
The `/tmp` is not hardcoded, it asks `ioutil.TempFile` in [`file.go#88`](https://github.com/cznic/ql/blob/c81467d34c630800dd4ba81033e234a8159ff2e3/file.go#L99), so the outcome depends on what `gomobile` sets as the `GOOS`. From #132 it seems the setting is probably not the one informing `ioutil.TempFile` to return the proper path. That's about all I know about this. Still hoping @gedw99 will repor

[2016-10-21 11:16] joeblew99 commented on #139
ok i think i get what your saying.

i need to try this out with a gomobile build. I will do that next week i hope.
then i can make a PR ..

[2016-10-26 13:43] squeed opened #140 "RFE: "free-space headroom" or "spare-block pool""
Apologies in advance if this should be filed against lldb.

We use ql (and therefore lldb) as part of rkt's [image store](https://github.com/coreos/rkt/tree/master/store). The details aren't super important, but we have a CAS blobstore for container images and a small ql db for metadata.

One problem we have is if the data partition fills up (which is common enough, since by default it's on `/var`

[2016-10-26 14:02] cznic commented on #140
@squeed
Probably feasible, not sure how much complicated it could be, will have to investigate.

Meanwhile, please suggest the API for the knob(s). (Or perhaps some pragma-like QL command?)

[2016-10-26 15:26] squeed commented on #140
One suggestion:
[code]

It could be added to the Options parameter to `OpenFile`

[2016-10-26 15:47] cznic commented on #140
Looks ok.

[2016-10-30 19:24] cznic commented on #140
@squeed

Please test https://github.com/cznic/ql/commit/4ba878e346dd3c437c4a5cba5f6260422e3429cd with https://github.com/cznic/lldb/commit/1402951a9788f1b6bf2ef1b21ec8ac127d4675bc and let me please know the outcome. Thank you.

[2016-10-30 21:58] cznic commented on #140
References updates coreos/rkt#2782.

[2016-10-31 13:10] squeed commented on #140
Wow, thanks!
However, it's not working for me. I can reproduce with a small patch to the `ql` command:
[code]

Then, when I create and then re-open a DB file, it fails:

[code]

If I don't pass the headroom parameter, it works.

[2016-10-31 15:54] cznic commented on #140
@squeed

[code]

Here it seems to work, PTAL using ql@https://github.com/cznic/ql/commit/df4ef4823d9b9bf2a3f27291d5e31fd6aa30c97e with https://github.com/cznic/lldb/commit/04c9cd7614fd552d7b237f010734010f44b9507d, thank you.

[2016-10-31 16:59] squeed commented on #140
So, testing it with a full directory gives an interesting result: an error code is returned, but the write succeeds:

[code]

So, the commit should not return an error. But getting there, thank you!

[2016-10-31 17:29] cznic commented on #140
Thanks for your patience. FYI: I am not yet able to find where the error message comes from (using `grep -nwr write *` in `cznic{ql,lldb,internal}`) ???

[2016-10-31 17:34] jonboulle commented on #140
@cqnic that is probably coming from the go stdlib's file write path

On 31 October 2016 at 18:29, cznic <notifications@github.com> wrote:

[2016-10-31 17:38] cznic commented on #140
@jonboulle

Thanks for the hint, I think you're right.

[2016-11-01 12:30] cznic commented on #140
@squeed

FTR: Thanks for the test case, I can reproduce:

[code]

[2016-11-01 13:14] cznic commented on #140
@squeed PTAL with https://github.com/cznic/lldb/commit/27efa11da9badd2caae6fde67b4530c7e57d8d96, thank you.

[2016-11-01 16:46] kardianos opened #141 "go1.8: support for additional features"
Many new important features will land in go1.8. Please see document:
https://docs.google.com/document/d/1F778e7ZSNiSmbju3jsEWzShcb8lIO4kDyfKDNm4PNd8/edit?usp=sharing for the full list.

Because these features are new we want drivers to implement them before they are released. Ideally they should be implemented by 2016-12-12 to allow for any driver provided feedback from implementation if necessary

[2016-11-01 16:47] cznic commented on #141
Thanks for the head-up. Was on my radar already, but it's good to have a tracking issue for it. Thank you.

[2016-11-02 12:37] squeed commented on #140
@cznic this works perfectly, thank you!

[2016-11-02 12:50] #140 closed

[2016-11-13 12:19] TheMrViper opened #142 "Open or Create database"
Hi. Have problem with **ql**.

When i try open db:

Please make opening more simple, you dont need parse file path like uri. Look to [buntdb](https://github.com/tidwall/buntdb).

[2016-11-13 13:25] cznic commented on #142
@TheMrViper Please test https://github.com/cznic/ql/commit/3135d11835bf2f84cc2f9080c5eb5eda4fdf6083 and please let me know if it fixes the issue for you. Thank you.

[2016-11-13 21:09] cznic commented on #142
@TheMrViper I'm pushing the fix b/c it's a critical bug. Feedback would be welcome anyway. Thank you for the report.

[2016-11-13 21:09] #142 closed

[2016-11-14 13:27] TheMrViper commented on #142
Thank you. Now it work fine.

[2016-11-14 13:28] cznic commented on #142
Glad to hear that and thanks for the feedback.

[2016-12-22 21:00] vkryukov opened #143 "Zero-size WAL files are not removed on exit"
Hello there,

QL is great, and I can use it without any GCC dependencies. I noticed that I have several .dot files being created in the same folder where I run a program that uses QL library (see below), but they are not removed after the program exists, and I do call `defer _DB.close()` in my main. I think these files might be related to QL locking mechanism.
[code]

Is it the intended behavior,

[2016-12-22 21:12] cznic commented on #143
When a database is in use, two .files are used, a lock file and and a [WAL](https://en.wikipedia.org/wiki/Write-ahead_logging) file. If the database is cleanly closed, the lock file should be removed, while the WAL file is left there. It serves when later reopening the database to distinguish between a clean shutdown (WAL is zero sized) and a application crash while the database was being updated.

[2016-12-22 21:21] vkryukov commented on #143
It's a WAL name. I checked it by manually applying `walName` from https://github.com/cznic/ql/blob/master/file.go#L1094 and `lockName` from https://github.com/cznic/ql/blob/master/file.go#L1087 to my database name.

I still don't understand why WAL file is left over as https://github.com/cznic/ql/blob/master/file.go#L424 seem to remove it during a clean close?

[2016-12-22 21:26] vkryukov commented on #143
But since it's a WAL file, from your description above sounds like that it is left there by design, so not really an issue? If that's the case, please feel free to close this ticket.

[2016-12-22 21:29] cznic commented on #143
That line remove the WAL file when opening a database fails when a WAL file has already been created. IIRC, a clean shutdown does not normally remove the WAL file. I guess it's possible to add a field to the [Options](https://godoc.org/github.com/cznic/ql#Options) asking to remove the WAL file on clean shutdown.

I think it's not in the 'bug' category, but you're not the first user to ask about th

[2016-12-22 22:09] vkryukov commented on #143
Re: PR - since the information that we want a zero-sized WAL file be removed on closure needs to persist somewhere until `DB.Close()` is called (right?), would you recommend storing it in `DB` or the underlying `file`?

[2016-12-22 22:12] vkryukov commented on #143
Well, I guess it should be stored in `file` as `DB` abstracts away the underlying storage?

[2016-12-22 22:16] cznic commented on #143
I think you're right, `file` seems the be the proper place. In any case, it will be a private field, so if it may later turn out it needs to belong elsewhere, it should be possible to adjust without breaking the API.

[2016-12-22 22:35] vkryukov commented on #143
I ran the tests before making any changes, and it produces some errors - I assume they are all known issues (at least on Windows)?

[code]

[2016-12-22 22:37] vkryukov commented on #143
Looking at it more closely, the `13 10` vs. `10` difference is very telling - looks like EOL difference between the platforms.

[2016-12-22 22:54] cznic commented on #143
No, I was not aware of those errors - I do not normally use Windows. Tests and/or other things need to be fixed. Please fill a separate issue for that, thank you.

[2016-12-22 22:59] vkryukov commented on #143
Since the above errors all seem to be related to Windows idiosyncrasies vs. Unix (EOL, slash/backslash in file names), I have sent you a pull request for this one anyways and will open a separate issue for failing tests.

[2016-12-22 23:01] vkryukov opened #145 "Tests fail on Windows due to platform differences"
The following tests fail on Windows, and seem to be related to different handling of EOL and slash/backslash in pathnames between Windows and *nix:

[code]

[2016-12-23 00:02] vkryukov commented on #145
There are 8 failing tests above. For tests 4-7, the supplied patch provides a fix.

For tests 1-3, I'm not sure what would be a platform independent fix. Test 300 has the following structure in [testdata.ql](https://github.com/cznic/ql/blob/master/testdata.ql#L3133) - notice the back-tick followed by a newline. What will be submitted to QL depends on how EOL are recorded in `testdata.ql`; since on

[2016-12-23 00:03] vkryukov commented on #145
For test 8, I will have another look some other day.

[2016-12-23 00:14] vkryukov commented on #145
[This link](http://stackoverflow.com/questions/3206843/how-line-ending-conversions-work-with-git-core-autocrlf-between-different-operat#4425433) explains how the git conversion between different EOL conventions work depending on settings.

[2016-12-23 11:42] cznic commented on #143
Thanks a lot! I will review all patch(es) you've sent later today, I hope (woke up today with a flu).

[2016-12-23 13:46] cznic commented on #143
Reviewed this one, it LGTM, but it needs a simple test. Maybe it's included in the other patches which I haven't seen yet.

[2016-12-24 19:36] alexflint opened #147 "Is there a ql dialect for gorp?"
I was hoping to find an implementation of `gorp.Dialect` corresponding to the ql syntax. Does any such thing exist (perhaps in an external project?)

[2016-12-25 12:21] cznic commented on #147
I am not aware of one.

[2017-01-05 18:53] #143 closed

[2017-01-10 10:57] squeed commented on #140
Would it be possible to cut a release of ql that includes this? Thanks!

[2017-01-10 11:18] cznic commented on #140
Sure. Will just update docs first.

[2017-01-10 11:28] cznic commented on #140
@squeed Done: https://github.com/cznic/ql/releases/tag/v1.1.0

[2017-01-11 08:33] gernest commented on #147
Off topic but similar. I tried to use ql with gorm. And even my attempt to implement a ql dialect for gorm failed flat. The reason it was hard has more to do with the gorm design.

I am heavily refactoring gorm now, with the sole purpose to support ql. Then I can easily add the other dialects from gorm unchanged. The fork I'm working on has changed beyond recognition( in term of structure and desi

[2017-01-21 23:03] jamesrr39 opened #148 "autoincrement field property?"
Hi, nice project. Is there a way to have any kind of AUTOINCREMENT property on a field? I can't find anything in godoc or google search. The use case would be generating an artificial ID.

I've tried these without success:

errors on insert (unknown field AUTOINCREMENT: BEGIN TRANSACTION;):

    CREATE TABLE x (
        y INT AUTOINCREMENT,
        z STRING
    );

errors on table creation (expect

[2017-01-22 11:41] cznic commented on #148
If you need sequential numbering provided by SQLITE's `AUTOINCREMENT` then no, QL does not have that feature. It could be implemented, of course.

However, if you need just a unique number, like SQLITE's `ROWID` then you can use [`id()`](https://godoc.org/github.com/cznic/ql#hdr-Record_id). It can be used in [`CREATE INDEX`](https://godoc.org/github.com/cznic/ql#hdr-CREATE_INDEX) as well. Would th

[2017-01-22 14:13] cznic commented on #148
@jamesrr39  FTR: The QL version in this case would be something like

[code]

[2017-01-25 11:55] cznic opened #149 "Ping hangs in github.com/go-hep/csvutil/driver_test.go"
[Here](https://github.com/go-hep/csvutil/blob/e6468a13070ff5d437941213a0b2467bcd6c256a/csvdriver/driver_test.go#L36).

[2017-01-25 12:19] sbinet commented on #149
FYI, if I put the `Ping` outside of the transaction, it's not hanging anymore:

[code]

not sure whether this is by design (_ie_ me not properly reading the docs of `"ql"` and/or `"database/sql"`) or a bug :)

[2017-01-25 12:26] cznic commented on #149
I think it's a bug in ql, it triggers something like a livelock in the transaction state machine, but that's all I know from the first  two minute look (issuing SIGQUIT and seeing the first stack trace).

[2017-01-26 12:54] cznic commented on #149
@sbinet

I think I've fixed the livelock issue. However, that does not solve the problem.

Initiaiting transactions concurrently is fine. R/O transactions (basically only `SELECT` statements) are not a problem, they just execute concurrently. R/W transactions must be isolated from any other transaction (R/O or R/W) and this is done by serialization. Simply said, the R/W transaction first waits for

[2017-01-28 20:49] cznic commented on #149
@sbinet

I think I finally understand the problem.

[`db.Ping:137`](https://github.com/go-hep/csvutil/blob/e6468a13070ff5d437941213a0b2467bcd6c256a/csvdriver/driver_test.go#L37) calls [`slq.Ping:499`](https://github.com/golang/go/blob/6b36535cf382bce845dd2d272276e7ba350b0c6b/src/database/sql/sql.go#L499) calls [`db.conn:780`](https://github.com/golang/go/blob/6b36535cf382bce845dd2d272276e7ba350b0c

[2017-01-28 20:51] #149 closed

[2017-01-29 13:29] cznic opened #150 "Concurrent map read and map write when multiple reads"
Cf.: weaveworks/flux#393.

[2017-02-07 18:13] jamesrr39 commented on #148
thanks - `CREATE INDEX primary_idx_x ON x (id());` and `id()/Id()` turned out to be what I needed.

[2017-02-07 18:13] #148 closed

[2017-02-11 06:29] ta2gch opened #151 "`NOT IN` don't work correctly"
I wanted to write an order where inserts occur only when there is no record. But the next command did not work well. Please tell me if there is another way.

[code]

[code]

SQLite3 print this, but ql print nothing.

[2017-02-11 13:10] cznic commented on #151
I did not test SQLite3, but I believe it behaves differently. The problem is that ql seems to works as intended. Particularly [Predicates](https://godoc.org/github.com/cznic/ql#hdr-Predicates) say

Note the '*including NULL handling*'. Now consider:

[code]

It is possible to change the handling of a empty list to work such that `in (NULL)` would produce `false` instead of `NULL`, but that may bre

[2017-02-12 01:15] ta2gch commented on #151
Ok, That is, it is correct that the following code returns true.

[code]

Also thanks for presenting a solution.

I have a few of questions,

1. `<nil>` is equal to NULL?
2. in Golang,
	`SELECT 'john' NOT IN (SELECT name FROM member) FROM dual` also returns `<nil>`.
	Is it that we can not know that this code is returning NULL(or `<nil>`) till `rows.Scan`?
3. What does OP stands for?

Many thanks!

[2017-02-12 10:26] cznic commented on #151
`<nil>` is produced by `fmt.Printf` for `nil` values and those represent the sql `NULL`, so yes.

Is it that we can not know that this code is returning NULL(or `<nil>`) till `rows.Scan`?

I'm not sure how `rows.Scan` behaves and I did not yet tried your example code. I would only guess it just returns false for an empty recordset, ie. I think it in this case does not return an actual NULL row. (B

[2017-02-12 11:48] ta2gch commented on #151
Thanks for the answer.

Okey, the result of example code is following.

[code]

So, `row.Scan` doesn't return false.
This may not be a problem of ql.

What do you think?

[2017-02-12 12:30] cznic commented on #151
That's possible but it seems to me it's is a problem in the client side code

[code]

The above works if the scanned row is known to never have the NULL value (instead of a bool). In other cases the member should be, I believe, declared as

[code]

At least I think so, as I don't think I've ever used any of the "nullable" types of the `sql` package. Can you please try with [`sql.NullBool`](https:/

[2017-02-12 12:47] ta2gch commented on #151
It's works. I didn't know `sql.NullBool`.
It's big help. Thanks!!! (ql is very cool library :smile:)

[2017-02-12 12:48] #151 closed

[2017-02-21 21:20] joeblew99 commented on #139
this works for me on android.
i am NOT making an aar anymore, and so compiling with GOOS=android works.

Sorry about the confusion on this one, and thanks for the help.

[2017-02-21 21:20] #139 closed

[2017-03-02 19:36] boyvanduuren opened #152 "`commit` cannot be used as an identifier"
A column cannot be called `commit`, even though it's not a reserved keyword [according to the documentation](https://godoc.org/github.com/cznic/ql#hdr-Keywords).

[code]

[2017-03-02 20:23] cznic commented on #152
@boyvanduuren The list of reserved words at the link you've provided unfortunately misses `commit`, even though it [actually is](https://github.com/cznic/ql/blob/77151e6627d3f052ab9c993a16d95942b4922ddc/scanner.l#L148) a reserved word.

Would you like to send a PR to fix the documentation?

[2017-03-03 10:57] boyvanduuren commented on #152
Just created the PR: #153.

[2017-03-03 11:05] cznic commented on #152
Thanks, please check the comment [there](https://github.com/cznic/ql/pull/153#issuecomment-283926808).

[2017-03-03 11:19] #152 closed

[2017-03-13 14:54] mbergin opened #154 "Compile without CGO?"
I was looking for a pure Go implementation of an embedded SQL database since mattn/go-sqlite3 requires CGO. This project looks perfect.

However I tried to install the package on Windows where I don't have gcc, and we seem to have a CGO dependency via cznic/zappy:

[code]

I tried setting `CGO_ENABLED=0` but this doesn't seem to do anything. Perhaps I need to rebuild the standard library?

[2017-03-13 14:56] cznic commented on #154
@mbergin Plase see the [documentation](https://godoc.org/github.com/cznic/ql#hdr-Building_non_CGO_QL) for building QL without CGO.

[2017-03-13 15:06] mbergin commented on #154
Oops. Thank you.

[2017-03-13 15:06] #154 closed

[2017-03-25 22:10] gernest opened #155 "How do i use dummy table in ql?"
Hi,

I'm not well versed in SQL and ql. I'm adding ql support to one object relational mapper. When I was implementing many to many support I came across this query.

[code]

A quick google and some tinkering I came across the dummy table thing. This query works fine in postgres but it does not work in ql. I was wondering if there is a way I can write a query like this.

Thanks

[2017-03-25 22:22] cznic commented on #155
@gernest So far I'm not sure I understand what is the question. Assuming the query above does not work: What's failing and/or what feature is needed/missing? I'm unfortunately not able to infer that from "_the dummy table thing_". Please explain it a bit more or provide additional context/reproduction case etc., thank you.

[2017-03-25 22:37] gernest commented on #155
@cznic

In the query  portion above

[code]

We are selecting values $1,$2,$3    from nothing.  postgresql supports that. And from stackoverflow they say mysql support by having `DUAL` which will be something like.

[code]

In ql I get this error
[code]

[2017-03-25 22:39] gernest commented on #155
Just to be clear. I'm not an expert in SQL. I just want to be able to use the object relational mapper with ql without worrying about query building. So, I might be missing something here.

[2017-03-25 23:49] gernest commented on #155
I have tried to reproduce it.

postgres
[code]

ql
[code]

Is there any way I can have the same outcome in ql as in the postgres example?

[2017-03-25 23:54] cznic commented on #155
Thank you very much for the added information.

Right now it seems feasible to me, but I have to look into it more thoroughly. I will investigate.

[2017-03-26 00:10] gernest commented on #155
My pleasure.

Thanks for the amazing work.  And please don't don't forget to ping me when something comes up from your investigation as I have to wait  for your insight before I opt to  look for a work around.

[2017-03-26 12:58] cznic commented on #155
@gernest I've tweaked the grammar to accept all the new constructs (missing `FROM`, `WHERE [ NOT ] EXISTS ( SELECT ...)` as well as capturing the added parsing values to the respective structs.

The rest is just a question of a non-trivial amount of work.

- Tweak all places which assume the `selectStmt.from.sources` are always non-nil and change the implementation to cope with it.
- Implement the

[2017-03-26 14:34] gernest commented on #155
@cznic cool!

I will be more than happy to try this. So, maybe a hint on where to start will be appreciated.

[2017-03-26 14:53] cznic commented on #155
As a starter, already failing code paths can be used to indicate the "must" places in need of change. Consider

[code]

The fail starts [here](https://github.com/cznic/ql/blob/5078e40c8bb441d4ca66fd9a0486d965fd9b374a/stmt.go#L754) because `s.from.sources` is now allowed to be nil. Try to fix this particular place (difficulty: easy). I'll give you access rights to the repo in a moment. Please push

[2017-03-26 15:10] gernest commented on #155
@cznic thanks!

For now, I will be working on the issue155 branch on my fork. I will push changes there and see if I can fix those tests. I will submit a PR when I succeed. So you can just focus on what you have been occupied with without worrying about this.

I don't feel confident enough to push changes directly to the repo 😄 . That can wait till I get more familiar with ql, for now PR based wor

[2017-03-26 15:21] cznic commented on #155
No problem, works for me :smile:

[2017-03-27 21:10] gernest opened #157 "exists field is not properly set on whereRset"
This is based on branch https://github.com/cznic/ql/tree/issue155

I did a siimple

[code]
to investigate the  value of the expression when the query is  `SELECT * FROM t WHERE EXISTS (SELECT * FROM t WHERE i == 2);`

I was expecting to see something on stdout, but nothing showed indicating the field was not properly set to boolean true.

[2017-03-27 21:55] cznic commented on #157
This is a new feature required by #155 . The only thing already implemented is that the parser understands the construct and the `exists` field is filled by the proper values capture by the parser. The next step is to interpret those values. IIRC, there are only two, the presence of the `not` modifier and the parenthesized select statement. So implementing this new construct will execute the paren

[2017-03-27 21:57] cznic commented on #157
So the check in `whereRset` would be like

[code]

otherwise it will fall back to the old implementation using the `expr` field.

[2017-03-27 22:00] cznic commented on #157
See also [`parser.y`](https://github.com/cznic/ql/blob/5078e40c8bb441d4ca66fd9a0486d965fd9b374a/parser.y#L1320).

[2017-03-27 22:07] gernest commented on #157
@cznic If the value is correctly populated by the parser in my check the if condition body should be executed.

I'm pretty sure the body was not executed as I couldn't care less for the value of `expr.`

[2017-03-27 22:21] gernest commented on #157
Changing it to the snippet you provided

[code]

Also indicate the `r.sel` to always be nil which for our situation it should be something for the two test cases.

[2017-03-27 22:50] cznic commented on #157
In the

[code]

`r.expr` get printed, but it's nil for a where clause using `exists`.

I'll try to reproduce. Give me 10 minutes ;-)

[2017-03-27 22:59] cznic commented on #157
Please try https://github.com/cznic/ql/commit/f530724f84a5ac23ce1c2b8061efe696a17e5e24

The test:

[code]

Run:

[code]

[2017-03-28 05:54] gernest commented on #157
@cznic thanks.

I have verified from the test case that indeed the values were properly populated. I'm closing the issue now.

[2017-03-28 05:54] #157 closed

[2017-03-30 21:40] gernest commented on #155
@cznic thanks for the initial PR!

Please ping me when you add test case for finally addressing this! I will  fix them with a new PR!

I can't wait to have a full fledged object relational mapper that works with ql! 😄

[2017-03-31 10:30] cznic commented on #155
@gernest

I've added a couple of tests, two of them are failing (one existing, one new). The failing existing test no. 1348 is my fault and it must confused you when you wrote the implementation. My apologies.

Another thing which [does not seem right](https://github.com/cznic/ql/commit/3e161ea74936ab1b3b982166c14d21ac3c2bd290#diff-5147f21900633f77f14b931a29e2863cR8422): Why are the plans for no.

[2017-03-31 10:54] gernest commented on #155
@cznic

I think that iterate no row is a result of embedding `*nullPlan` I wanted to ask you for suggesting a good message but I forgot. see https://github.com/cznic/ql/blob/issue155/plan.go#L2826  which is used here https://github.com/cznic/ql/blob/issue155/ql.go#L549

If you suggest the explain message then I can submit a separate PR to fix it.

[2017-03-31 10:57] gernest commented on #155
can you explain why test case 1348  is failing?

[2017-03-31 11:00] gernest commented on #155
judging from the query, only one row macthes so it should have been

[code]

[2017-03-31 11:08] cznic commented on #155
Unfortunately not as I haven't yet a chance to look into it. But see [test no. 1353](https://github.com/cznic/ql/commit/3e161ea74936ab1b3b982166c14d21ac3c2bd290#diff-6733c042b94035cde51e784bf5ae0f29R15735) for illustration.

Then the query would be equal to

[code]

But that's not what the new construct is supposed to do. The `WHERE` clause in

[code]

evaluates in this case to true because

[code

[2017-03-31 11:11] gernest commented on #155
Thanks, now i understand

[2017-03-31 15:30] gernest commented on #155
Uh! It looks like I will need to reimplement everything regarding `where exists`. The pieces don't match at all.

[2017-03-31 15:36] cznic commented on #155
It's my fault. Once again, I am sorry.

But I don't think it needs too many changes. However, I am an hopelessly optimistic person ;-)

[2017-03-31 16:10] gernest commented on #155
no problem! I will give it another spin..

[2017-04-06 09:42] cznic opened #159 "select in where exists (select...) must be evaluated only once."
Tracking issue for a missing optimization in #155 .

[2017-04-06 09:49] cznic commented on #155
@gernest Thanks for all your hard work! Branch `issue155` is now ready to be merged into branch `master`. You have all the rights to do that by your self. Feel free to squash or not to squash according to your preferences.

[2017-04-06 10:07] gernest commented on #155
@cznic  thanks! I prefer to keep history, just in case one day we invent time traveling  machine! 😄

[2017-04-06 10:34] gernest commented on #155
I'm closing this issue now.

[2017-04-06 10:34] #155 closed

[2017-04-06 17:08] gernest commented on #106
ping @cznic

There is no interest in this feature. The way I see it the current implementation ensures integrity without adding overhead.

It is the duty of the  user to wrap all operations which will change the state of the database in a transaction.

We can close this, and if there is another use case for this feature this issue can always be reopened.

[2017-04-06 17:44] cznic commented on #106
Shame on me, I forgot about this completely.

However, as @gernest pointed out, R/W transactions are not free, quite the opposite.

If someone wants to come with an implementation turning this feature on *optionally*, it would be accepted. (Suggestion, introduce `PRAGMA` statements.)

[2017-04-10 13:05] gernest commented on #136
@cznic @devfacet I would like to look into this. Is this still an I issue.

If thee is already an ongoing effort, I will be more than happy to help. Unfortunate I suck at SQL so, insight and direction where to look for stuff will be highly appreciated.

Thanks.

[2017-04-22 06:43] gernest opened #160 "Adding support of INNER JOIN"
This is a  feature request.

I'm finalizing supporting ql in the ORM I'm hacking on. While fixing Many to many relation I am supposed to use INNER JOIN. I Have found OUTER JOIN is already supported so Maybe INNER JOIN will be possible as well.

Thanks

[2017-04-22 07:00] gernest commented on #160
It is like I have the following schema

[code]

And I would like to run the following query

[code]

[2017-04-22 13:46] cznic commented on #160
@gernest IIRC correctly, `INNER JOIN` is the same as `CROSS JOIN`. IOW, your query should be equal to something like (not tested)

[code]

Can you please test it?

[2017-04-22 14:33] gernest commented on #160
@cznic I copied the query verbatin

I get this error

`
unexpected ',', expected logical or operator or one of [')', OR, ||]
`

[2017-04-23 09:34] gernest commented on #160
For some reason I noticed the issue is with this part of the query. QL seeems to fail compiling it/parse it I suppose.

[code]

After I  changed it not use IN it worked

[code]

Thanks,

[2017-04-23 09:34] #160 closed

[2017-05-02 09:51] gernest commented on #147
Shameless plug.

Since there is no, tools or showcase or libraries that uses ql section. I will drop this here, I belive it has value in this thread.

There is a fully fledged ORM that is a fork gorm. It fully supports ql, so you can do all what you can with postgres and ql the same i.e relationships etc.

I'm the author. Here is the link to the repo  https://github.com/ngorm/ngorm

[2017-05-02 10:07] gernest commented on #159
Gentle ping @cznic

I would like to take a look at this. Can you please give me more context?  I think I can enforce this by using `sync.Once` but I can't reason about why the evaluation of the current implementation is done more than once.

[2017-05-02 17:33] gernest opened #163 "Confusing test case"
So, I revisited the testdata.ql file

this snippet

[code]

My understanding is. The query will result in o rows which when scanned will yield  `sql.ErrNoRows` . The bavior of the above testcase is different.

since for some reason I get this

[code]

IMHO they are both correct , just some minor issue from that gave us `---g` part probably in the tests. I was not able to find a test case which ret

[2017-05-02 17:48] gernest commented on #163
Oh! I think I found the fix. They are supposed to look like this

[code]

[2017-05-03 13:09] #163 closed

[2017-05-03 14:17] #159 closed

[2017-05-03 16:40] gernest commented on #141
@cznic  I would like to take this one. If you have any advice it will be great. I will first need to introduce `context.Context` which means somehow we need to figure out to cancel query execution.

My first sweep of the code wasn't that successful.

[2017-05-03 16:53] cznic commented on #141
It's yours ;-)

Please isolate the Go 1.8 specific features in a separate file guarded by `//+build go1.8` to keep support of older Go versions.

[2017-05-04 21:56] gernest commented on #136
gentle ping @cznic

can yuo please tell me what is the expected result from this ?

[code]

I'm looking at this issue

[2017-05-04 22:05] cznic commented on #136
I'm not completely sure, unfortunately. Can you please try what, with required modifications, the results are in some other RDBMS? We would then at least know what the test cases should test against...

[2017-05-04 23:03] gernest commented on #136
@cznic  no problem . I think I  found out a way to solve this.

I fixed the fields now  i get

[code]

I will cleanup and write more details after more tests

[2017-05-04 23:30] gernest commented on #136
another gentle ping @cznic @devfacet

On my dev branch

[code]

contents of `join.ql`

[code]

[2017-05-05 01:31] devfacet commented on #136
@gernest : After this issue (as well as some other performance issues) I gave up this package and decided to use `go-sqlite3` package . The only annoying thing with `go-sqlite3` is that it is a cgo package. That being said @cznic is working on something else may solve that issue. See  https://github.com/cznic/sqlite

If you need an embedded SQL database in Go (for production purposes) then either

[2017-05-05 07:01] gernest commented on #136
@devfacet thanks for the recommendation. At the moment I would like to improve ql hopefully it will be production ready one day.

[2017-05-05 11:48] #137 closed

[2017-05-05 14:30] cznic opened #169 "Race at tip"
@gernest Please try if you can reproduce the race.

Using https://github.com/cznic/ql/commit/26248eaae4fd0cdad403986b3c77eff575b20945

[code]

[2017-05-05 14:42] gernest commented on #169
@cznic It looks like I forgot to add `-race` let me bisect this.

[2017-05-05 14:51] cznic commented on #169
Thank you :+1:

PS: I'm to blame, do you remember? ;-)

[2017-05-05 14:56] gernest commented on #169
haha! I remember! 😄  Still you noticed it. I think we should have CI (travis/drone) to automate this. So we can run with `-race` on every PR.

[2017-05-05 15:43] gernest commented on #169
@cznic  I have traced the issue back to 324177db3e6af3ed9feb32cf5fa89957355a0b26 that is because it is the last point where the below test case pass.

It seems it can be triggered by this test case

[code]

While II'm checking where might the map access happen. Can you please look into this test case just in case I missed something?

I have a feeling this is related to #150` and the test case just

[2017-05-08 10:38] #169 closed

[2017-05-08 10:43] gernest commented on #150
I wonder if there is away to reproduce this. It looks nasty.

[2017-05-08 10:45] cznic commented on #150
Unfortunately, we have no answer from @philwinder yet.

[2017-05-10 14:53] DeadNumbers opened #174 "ql does not support cyrillic in table or columns name?"
[code]

[2017-05-10 15:03] cznic commented on #174
The [documentation](http://godoc.org/github.com/cznic/ql) says:

[Identifiers](https://godoc.org/github.com/cznic/ql#hdr-Identifiers): `identifier = letter { letter | decimal_digit } .`

[Letters and digits](https://godoc.org/github.com/cznic/ql#hdr-Letters_and_digits): `letter        = ascii_letter | "_" .`

[Characters](https://godoc.org/github.com/cznic/ql#hdr-Characters): `ascii_letter   = "a"

[2017-05-10 15:15] DeadNumbers commented on #174
So sad. Thanks for answer.

[2017-05-10 15:15] #174 closed

[2017-05-11 14:50] DeadNumbers commented on #174
@cznic How I can add cyrillic? I create this https://github.com/DeadNumbers/ql/commit/861e690485258e1884be25be0f562368cab9429f but does not work.

[2017-05-11 15:09] cznic commented on #174
The ql.ebnf is generated from the documentation.

To add support for Unicode letters in identifiers the necessary changes have to be done in the [tokenizer](https://github.com/cznic/ql/blob/eb22df22d0ac223dcd91f16d6de0fc4cfdf768a5/scanner.l#L206). Please open a separate issue/feature request for this, maybe I can find some time this weekend to implement it.

[2017-05-11 15:14] DeadNumbers opened #176 "Request: adding unicode supporting"

[2017-05-11 15:21] cznic commented on #176
cf. #174

[2017-05-12 12:33] Menta2L opened #177 "Composite unique index ?"
Is it possible to create unique index on  2 columns ?
For example
[code]

[2017-05-12 12:46] cznic opened #178 "ql tool: no more works with stdin"
Commit https://github.com/cznic/ql/commit/05670cdfd9c4ace659945260624937edf34f5567 added test for NArg == 0 (https://github.com/cznic/ql/commit/05670cdfd9c4ace659945260624937edf34f5567#diff-0a5509290f0a6f166e89633ba533ae88R109) in which case we print help and exit.

However, this disabled `$ cat foo.sql | ql` or `$ ql << EOF`.

[2017-05-12 12:51] cznic commented on #177
From the [documentation](https://godoc.org/github.com/cznic/ql#hdr-CREATE_INDEX)

[code]

[code]

[2017-05-12 13:31] #178 closed

[2017-05-13 15:53] twitchyliquid64 commented on #59
Any update on this? I've found myself wanting to use ql again :)

[2017-05-13 16:17] cznic commented on #59
I cannot recall what the situation was in 2014, but ATM I think

- `SELECT * FROM invoices WHERE customerid = $1;`: O(n).

- With  `CREATE INDEX invoicesLookup ON invoices(customerid);`: O(log(n)+m)  where m is the cardinality of the result set.

- `SELECT * FROM invoices WHERE creationdate < now();`: O(n).

- With `CREATE INDEX invoicesDateLookup ON invoices(creationdate );`: O(log(n)+m).

I sugg

[2017-05-13 16:23] gernest commented on #59
@cznic is the new backend you are referring to related to the `HTTPFS`?

@twitchyliquid64 regarding backup, since ql uses a single file don't you think you can just copy&gzip it? Or do you want something like `pg_dump` dumping SQL to recreate the database state?

[2017-05-13 16:35] cznic commented on #59
No, the new backend should have replaced cznic/lldb.

I think he wants to make a dump/backup *while* mutating the DB. Then it's not that easy anymore.

[2017-05-13 16:39] gernest commented on #59
I see, probablySQL  dump should be possible. Since all ops relate to the single database. It is okay to say you can restore by recreating the database file content.

This is hard.

[2017-05-13 16:59] cznic commented on #59
Thinking about it, maybe the solution is to

- Wait for any pending R/W transaction to finish to have a consistent file image.
- Enter backup mode which keeps the WAL growing during the dump/backup which then becomes a simple file copy.
- Flush the WAL while coordinating with any R/W transaction pending, if any.
- Exit dump mode.

[2017-05-13 18:27] gernest commented on #59
Tricky

Do we keep count of pending transactions?

[2017-05-13 18:39] cznic commented on #59
No, but IIRC [DB.rw](https://github.com/cznic/ql/blob/fa0b3688520bac17b6cdef1b3a5022788a3db1af/ql.go#L836) reflects if there is any R/W transaction executing. If so, it executes in isolation.

[2017-05-13 19:02] gernest commented on #59
That still wont be able to address to when all transactions are done.

[2017-05-13 19:28] cznic commented on #59
The DB state machine knows when it turns the rw field to false: [here](https://github.com/cznic/ql/blob/fa0b3688520bac17b6cdef1b3a5022788a3db1af/ql.go#L1371) and [here](https://github.com/cznic/ql/blob/fa0b3688520bac17b6cdef1b3a5022788a3db1af/ql.go#L1390). In those places we can check for a pending dump/backup request and enter the according state.

[2017-05-13 20:08] gernest commented on #59
I see, that makes sense. I haven't groked th FSM yet!

__offtopic__: I have been running go-fuzz against `db.Run` for  `1h20m` no crashes yet!

[2017-05-13 20:13] gernest commented on #59
[code]

By any change was there any point in time when this was implemented? The explanation looks like it is what we will need to do when dumping.

[2017-05-13 20:14] cznic commented on #59
Here's its [State Transition Table](https://godoc.org/github.com/cznic/ql#DB.Execute).

Interesting experiment and glad to hear that!

[2017-05-13 20:16] cznic commented on #59
It's a nop because currently the WAL flush is performed unconditionally on COMMIT of the outermost R/W transaction. WAL cannot be flushed before that actually because we van get ROLLBACK instead of COMMIT in the end.

[2017-05-13 20:18] cznic commented on #59
[code]

There has been some point in time when we were collecting transactions for 1 sec before flushing the WAL for performance reasons. You're right, this is similar to what dump/backup needs to do.

[2017-05-13 20:35] gernest commented on #59
While we are on this subject. I faced a challenge when trying to enforce canceling queries. From my understanding, when execution is happening in the FSM. This is the expected behavior when we cancel the context.

-  If we are entering rw state, we just halt and rollback.
- If we are inside rw state , what happens?

Or can we just limit the scope to when we are evaluating the result set? I have fe

[2017-05-13 20:51] cznic commented on #59
In such case we probably/maybe need to effectively "inject" a ROLLBACK into the executing statement list.

I think you're right. As we don't yet have SELECT INTO, cancelling a R/W transaction is probably not  really useful.

[2017-05-13 20:57] gernest commented on #59
I see. One strategy is, properly cancel result sets( which is trivial), then we make sure we don't step into rw mode when the query is cancelled. When  the cancel signal is sent and we are already in rw mode we leave it to the gods 😃

[code]

[2017-05-13 21:18] cznic commented on #59
Sounds like a good plan to me ;-)

[2017-05-13 22:56] gernest commented on #59
While the idea seems good. I tried it and it doesn't work well with the database/sql interfaces.

For canceling queries, the `databas/sql` `QueryContext` expects cancellation at all levels, ie execution and evaluation of  result set. But with ql we delay the evaluation until when we call `Do` method of the returned multi row result set.

[code]
err is expected not to be nil, somehow when ctx is ca

[2017-05-14 06:42] twitchyliquid64 commented on #59
WRT backups: Can i just gzip the database file? Will there be a time where this is in a 'corrupt' state? I would expect the semantics of `db.Flush()` to mean the any successful commits made prior to `Flush()` would be captured in the db file. I understand Flush() is currently a no-op, is my expectation still correct?

I have considered contribution, however I get very lost in the code. Is there a

[2017-05-14 10:05] cznic commented on #59
Yes.

The DB file is in inconsistent state during committing the WAL file to the DB file - that being a result of outermost COMMIT of a R/W transaction.

Correct.

Yes and it's valid until a new R/W transaction WAL starts to be commited back to the DB file.

Unfortunately not, sorry.

[2017-05-14 11:21] #141 closed

[2017-05-14 12:59] twitchyliquid64 commented on #59
It sounds like If I start gzipping the database while other mutating db ops are in flight, then the file could become corrupted (failed backup). Is there a way to 'take a lock' on mutating the database for the sake of a backup? If this is as simple as holding an internal lock, this might be a nice first contribution.

[2017-05-14 13:16] cznic commented on #59
Untested (error handling omitted):

Direct API
[code]
sql API
[code]

[2017-05-16 09:32] cznic commented on #177
Seems like nothing more to do here, closing.

[2017-05-16 10:01] gernest commented on #106
@cznic can you expand a bit on what you think about `PRAGMA` and probably what `PRAGMA` is?

[2017-05-16 10:03] gernest commented on #30
That project is abandonware, consider closing this issue.

[2017-05-16 10:08] gernest commented on #25
While the structures looks useful. They are composite structure, It will be totally a waste of resource to store the building materials and the resulting house.

What I am saying, you can easily obtain `[]ints` by collecting the `ints`  from your store.  But If we start storing `[]int` reasoning about relationship between your data models will be hard .

[2017-05-16 10:17] cznic commented on #106
I thougth that there's a PRAGMA statement for that but I cannot find anything so it probably isn't.

Relevant

- [7.0 Transaction Control At The SQL Level](https://sqlite.org/lockingv3.html)

- [Test For Auto-Commit Mode](https://www.sqlite.org/c3ref/get_autocommit.html)

[2017-05-16 10:17] cznic commented on #30
Agreed.

[2017-05-16 10:17] #30 closed

[2017-05-16 10:56] gernest commented on #106
The only information useful on the sqllite you provided is that auto commit is on by default, which I think is irrelevant to this issue.

Doing this at `ql.DB` level is trivial, but exposing it over `database/sql` is not obvious. I'm still against this, given the nature of the ql database, enforcing transaction is not going to improve anything. Yet if there is a sensible suggestion I will happily

[2017-05-16 11:01] cznic commented on #106
No.

There's a lot of benchmarks (-bench .).

Probably badly. I've never finished the new backend and the current one has never been optimized. Also, from today's POV, there's a lot of bad design choices made making things slower than necessary.

[2017-05-16 11:08] gernest commented on #106
Is there a chance to improve? or fix the mistakes?

[2017-05-16 11:14] cznic commented on #106
Sure, rewrite from scratch ;-)

But seriously, profiling and gradually improving the problematic parts will work as well. It's hard to tell which way is more work, but both are probably a lot/too much of work.

[2017-05-16 11:21] gernest commented on #106
😄

I see.

 I think ql is useful for testing. After I have added support to the orm I've been hacking on. I run all tests on my projects with ql, with prospects of later on to switch to postgres/mysql/sqlite in production by just switching the driver.

[2017-05-22 09:20] cznic commented on #59
@twitchyliquid64 Please let us know if you have tried something and what were the results, if any, thank you.

[2017-05-22 09:45] twitchyliquid64 commented on #59
Sorry for the delay, ive been blocked on other features so haven't done backup yet, but will update this issue once I circle back.

Cheers & <3
Tom

[2017-05-22 12:36] cznic commented on #176
@DeadNumbers Please test branch issue176 and let me know if it works for you, thanks.

[2017-05-22 15:18] cznic commented on #59
No problem, thanks.

[2017-05-24 11:07] DeadNumbers commented on #176
@cznic work! Thanks you!

[2017-05-24 11:07] #176 closed

[2017-05-24 11:17] cznic commented on #176
Fixed in https://github.com/cznic/ql/commit/ba9eea98e3d20b3485b5b3d4a77775ee8bdd5387.

[2017-06-01 08:13] DeadNumbers opened #181 "Do you have plans to add new types eg JSON?"

[2017-06-01 09:04] cznic commented on #181
In a sense, JSON is just a string/blob. What should adding type JSON provide?

[2017-06-01 10:47] DeadNumbers commented on #181
@cznic I mean equal Postgres json, where support query example `select * from test where data @> '{"a":$1}';`

[2017-06-01 12:07] cznic commented on #181
That looks like a lot of work. Suitable PRs will be accepted.

[2017-06-28 11:40] xiam opened #182 "WHERE and aliased columns"
Hello,

I have a query that uses aliases for columns that would normally work on other SQL databases:

`SELECT id() AS id, name FROM artist WHERE (id < 100) ORDER BY id DESC LIMIT 15`

But it doesn't work in ql:

`2017/06/28 11:34:57 unknown field id: BEGIN TRANSACTION;`

The problem seems to be on the WHERE statement, ORDER BY works just fine:

`SELECT id() AS id, name FROM artist ORDER BY id DES

[2017-06-28 11:47] cznic commented on #182
I think this cannot not work because of the SELECT statement [evaluation order](https://godoc.org/github.com/cznic/ql#hdr-Select_statement_evaluation_order), bullets 3 vs 5.

Can you please try

[code]

I'm not sure if it should work, but I guess so.

[2017-07-03 08:54] cznic commented on #182
@xiam Gentle ping: Please provide feedback so we can determine if the issue can be closed or if there's something to do here, thank you.

[2017-07-03 11:42] xiam commented on #182
Hello @cznic, thanks for your answer, I think it makes sense. Let's close this issue.

[2017-07-03 11:42] #182 closed

[2017-07-12 09:55] twitchyliquid64 opened #183 "FR: Use composite indexes in the query planner"
[code]

The idea behaviour would be for x to be a composite index, and for it to be used for all queries which have comparisons to `thing` and `t`.

This is a very common pattern for most customer-facing databases, where you need to filter on (at minimum) a user identifier and a timestamp, which should ideally have `O(log n)` performance (a  customer with 1mil records should minimially impact the

[2017-07-12 09:59] twitchyliquid64 opened #184 "Query planner should use an index if available for any conditional"
[code]

The query planner should see that there is an index on the column `t` and use that instead of iterating all rows of table `t`.

The current query planner will only use a index if it is non-composite, and where it is the first conditional in the `WHERE` clause.

[2017-07-12 10:02] twitchyliquid64 commented on #150
I encountered this with multiple writes and a single read. Was unable to reproduce again, despite doing the same thing for the next two weeks. There were over 200 go-routines running at the time of the crash.

If we can't repro, can we put in some `recover()` at the top of ql somewhere, and collect information (that can be dumped to the console, before rebubbling the panic) that will help debug in

[2017-07-12 10:24] cznic commented on #150
Provided the error is recoverable, which I don't know, I like the idea. I'm sending you a collaborator's invitation in case you would like to create the patch. If so, please make it a separate branch for easy reviewing before merging it eventually, thank you.

[2017-07-12 10:28] cznic commented on #183
Not sure about that. Composite indices are supported but not yet used beyond enforcing the UNIQUE constraint. I think that the only missing piece is to teach the planner to use composite indices at all.

Do you feel like giving it a try? :wink:

[2017-07-12 10:31] cznic commented on #184
IIRC, that's correct. It's definitely feasible to use multiple indices, but it's not trivial. I've never even tried to start exploring that path.

I'll provide full support to anyone willing to implement this. It would improve QL a lot.

[2017-07-12 11:20] twitchyliquid64 commented on #183
I would like to. I am trying to wrap my head around the internals ATM.

From what I can tell, I need to:

 - Make a new plan type, `compositeIndexPlan`, which can be very similar to `indexPlan`
 - Update ____Rset.plan() functions in `ql.go` to use the composite index at the right times

Is this correct?

Where in the codebase are the composite indexes written to?

[2017-07-12 11:27] twitchyliquid64 commented on #184
Crossing indexes is definitely non-trivial.

What I was hoping to capture in this issue was that, in worst case, at least one index should be used if possible. In this case, `t` has an index but it is not used. It is only used if the binOp with `t` is the first binop in the WHERE clause. That seems like a bug - query use should occur regardless of the location of the op in the clause.

If I get fa

[2017-07-12 12:01] cznic commented on #183
From the top of my head: yes.

These interface methods are of your interest

- [`storage.CreateIndex(unique bool) (handle int64, x btreeIndex, err error)`](https://github.com/cznic/ql/blob/ba9eea98e3d20b3485b5b3d4a77775ee8bdd5387/storage.go#L18)
- [`storage.OpenIndex(unique bool, handle int64) (btreeIndex, error)`](https://github.com/cznic/ql/blob/ba9eea98e3d20b3485b5b3d4a77775ee8bdd5387/storage.g

[2017-07-12 12:06] cznic commented on #184
Definitely possible.

Sounds like a reasonable approach.

[2017-07-12 12:19] twitchyliquid64 commented on #183
Ok thanks. I'm still getting the lay of the land a little, one more set of conclusions it would be helpful if you could double check. This is my end-to-end understanding of a QL statement execution:

1. `parser.go` is an autogenerated file, which reads QL statements and constructs an AST of stmt nodes. These nodes are defined in `stmt.go` and self describe with polymorphic methods.
2. A query cont

[2017-07-12 12:25] cznic commented on #183
Will do, but only later today as I don't want to mislead you by providing a quick, but incorrect answer.

Sounds easy, which is in my experience seldom confirmed when actually implementing the plan ;-)

[2017-07-12 19:16] cznic commented on #183
Yes, it's an AST, nodes are `stmt` or `expression`.

Seems correct.

Ditto.

----

Even if I really tried to verify the correctness of your understanding, it's a long time the code was written. Apologies if I've got something wrong.

[2017-07-13 11:49] twitchyliquid64 commented on #184
*Current state:*
 - Index planning magic starts in `whereRset.planExpr()`, for a binary operation it handed off to `planBinOp()`.
 - If an indexable condition is detected, the expression node is pushed to the current query plan through the `plan.filter()` method, if a optimization is possible with the given node, a new plan is returned.
 - Indexes are only used if:
   - The LHS is `id()` and the R

[2017-07-13 11:52] twitchyliquid64 commented on #184
Additionally, this algorithm would go a long way to getting things ready for composite indexes in #183

[2017-07-13 13:18] cznic commented on #184
SGTM.

FTR: The [interval](https://github.com/cznic/interval) package was intended for improving the planner but I never got so far as to actually use it. Maybe you will find it usefull.

[2017-07-14 08:22] Spefer opened #185 "issue: driver.NamedValue is undefined"
go get github.com/cznic/ql/ql
# github.com/cznic/ql
go/src/github.com/cznic/ql/driver1.8.go:16: undefined: driver.NamedValue
go/src/github.com/cznic/ql/driver1.8.go:20: undefined: driver.NamedValue
go/src/github.com/cznic/ql/driver1.8.go:31: undefined: driver.NamedValue
go/src/github.com/cznic/ql/driver1.8.go:58: undefined: driver.NamedValue
go/src/github.com/cznic/ql/driver1.8.go:66: undefined: d

[2017-07-14 08:49] cznic commented on #185
@gernest Please take a look, thanks.

[2017-07-15 02:40] twitchyliquid64 commented on #59
FYI, current plan is to build a package that uses __Table and _Column systables, so a user just has to call `backup()`. Slated for implementation after I revamp the planner.

[2017-07-15 07:44] cznic commented on #59
Sounds reasonable.

[2017-07-15 09:15] twitchyliquid64 commented on #184
Are you a Googler by chance? All the googlers say that. :P

I've started a new branch 'planner2' to work on this, gimme a few weeks.

[2017-07-15 09:18] cznic commented on #184
They do and I learned it from them. But I'm not a Googler.

Any time you need to make it happen is the right time ;-)

[2017-07-15 09:37] twitchyliquid64 commented on #184
You've got me very curious, but I won't probe :)

[2017-07-15 09:39] twitchyliquid64 commented on #185
What go version are you running? NamedValue was introduced recently.

Did you install Go with Brew? There be dragons.

[2017-07-17 06:30] Spefer commented on #185
@twitchyliquid64 no, just unpack the golang package into one folder and  have this issue when try to perform go get

[2017-07-17 06:30] Spefer commented on #185
go 1.8

[2017-07-17 07:56] gernest commented on #185
@Spefer can you please give more context. If you are using `go1.8` then the  `driver.NamedValue`  was added there.

There is nothing I can do at the moment, until i can reproduce it please advice.

[2017-07-28 17:08] hibooboo2 commented on #55
What am I missing here? What do you mean by this? Or is it just the delete cascade part for pointers?

[2017-07-28 17:13] hibooboo2 opened #186 "Cannot use basic table From Mysql/ Postrges/ Sqlite3"
I have this code: https://gist.github.com/hibooboo2/7151c5f0edcae8539cbd8ea54d5e2313

Which uses these tables:

[code]

And I cannot execute them in to the ql database. I have something I am working on where we support alot of sql databases and wanted to add really badly but cannot even add our tables. When I tried it seemed like you do not support varchar so I tried removing that but to no avail

[2017-07-28 18:37] gernest commented on #186
@hibooboo2

ql is a bit different. I have tried to get ql equivalent of the DDL you procided

[code]

There is no `PRIMARY KEY` in ql.

If what you are working on is public( on github ), I can help you add support for ql.

[2017-07-28 18:40] hibooboo2 commented on #186
I could special case it but was hoping to be able to just use all of our
sql as is with sqlx. 😉

On Fri, Jul 28, 2017, 11:37 AM Geofrey Ernest <notifications@github.com>
wrote:

[2017-07-28 18:46] gernest commented on #186
I see, I haven't used sqlx. But If there is anything I can help you with ql please let me know.

 I have been looking for an excuse to hack something with ql, so can you expand a little bit about your problem, and how it is realted to sqlx?

One note though, in [ngorm](https://github.com/ngorm/ngorm) which I'm maintaining, You can use the same logic for `ql` and `postgresql` and `mysql` and `sqlit

[2017-07-28 22:38] metakeule commented on #55
@hibooboo2 See the linked article. On delete cascade, on delete restrict, on update cascade, on update restrict. Even MS Access can do this.

[2017-07-29 05:17] hibooboo2 commented on #55
Ahh ok so the on delete cascade etc part.. Can see why that would be highly desirable.

[2017-07-29 05:20] hibooboo2 commented on #186
We do not use an orm. The nice thing about sqlx is it is a very think wrapper around database/sql to allow you to do what that does with some sugar. And it would be super cool of ql was a drop in embeddable  full on SQL implementation like sqlite etc.. But I guess its not. Which is fine. Just got really excited when I found this project and then sad... Ahh well maybe someday.

[2017-07-30 09:46] gernest commented on #186
@hibooboo2 you can close this issue , if your questions have been answered. If there is anything else regarding this issue please ask.

[2017-07-30 15:32] hibooboo2 commented on #186
It's the details for ql too be a drop in replacement for an sql db such as
mysql or PostgreSQL or no?

On Sun, Jul 30, 2017, 2:46 AM Geofrey Ernest <notifications@github.com>
wrote:

[2017-07-30 17:23] gernest commented on #186
@hibooboo2 nope, ql is not meant to be a drop in replacement for msql or postgresql

[2017-07-31 04:08] Spefer commented on #185
closed it for I have 2 go version installed and it would use old version rather then 1.8 when I perform go get command, thanks you all

[2017-07-31 04:08] #185 closed

[2017-08-02 04:03] hibooboo2 commented on #186
K closing this. Thanks

[2017-08-02 04:03] #186 closed

[2017-08-29 15:52] dbrower opened #187 "Panic when adding index to table with dropped column"
[code]

[2017-08-31 20:46] dbrower opened #188 "Panic when selecting from table with dropped column and new index"
This is similar to but different from #187 since the panic happens in `findIndexByColName()`.

[code]

My guess would be that the `t.cols` should be `t.cols0` but I don't know enough of the engine to really say anything.

[2017-08-31 20:55] cznic commented on #188
I today tried to look into #187 and initially it seems to me I don't know probably much more than you do. Next attempt possibly tomorrow.

[2017-09-01 15:19] dbrower commented on #188
It looks like the code in `storage.go` expects `indices` and `cols0` to match each other, with `indices` contains an extra entry at the beginning. However, in `stmt.go:1137` the column id is resolved using `cols` instead of `cols0`, as would be expected.

[2017-09-01 16:26] cznic commented on #188
I haven't yet tried again, but in case your insight is correct, please feel free to try the patch and test it against `go test` and send a PR if it works ;-)

[2017-09-05 15:03] #187 closed

[2017-09-05 15:03] #188 closed

[2017-11-18 17:22] cryptix opened #190 "invalid operation: y == x (mismatched types ... )"
Hi,

I encountered this problem after updating our dependencies. I'm unsure when it was introduced but could pin it down to a _last working_ revision if that information is needed.

It seems to be related to the order in which arguments are passed down. `tx.Exec(a,b,c)` throws the error in the title but if i shuffle the arguments in the query around it suddenly works.

I posted code to produce the

[2017-11-18 17:37] cznic commented on #190
I've just locally updated all ql dependecies and tested master at tip https://github.com/cznic/ql/commit/8c32ff10fdc2810e93a6e127119d95545497909e. go test passes cleanly. Please provide a recipe how to reproduce the failure, thank you.

[code]

[2017-11-18 17:41] cryptix commented on #190
The file in the gist doesn't work for you? I turn it into a PR which makes it a test on the driver package.

[2017-11-18 17:45] cznic commented on #190
Sorry, I'm heavily multitasking right now and completely missed the link. The repro PR is a good idea, go on please. Please add yourself to the AUTHORS/CONTRIBUTORS files, thank you.

[2017-11-18 17:47] cryptix commented on #190
No problem. I know such days very well. See #191.

[2017-11-22 12:47] #190 closed

[2017-11-22 12:48] cznic commented on #190
@cryptix Sorry for the delay.

[2017-11-22 13:36] cryptix commented on #190
de nada! very glad you found the problem.

[2017-12-18 11:04] bspaans opened #193 "Support adding constrained columns on tables with existing data"
When I try to alter an existing table:

`ALTER TABLE existing_table ADD something string NOT NULL DEFAULT "text";`

I get this error message:

`ALTER TABLE existing_table ADD something: cannot add constrained column to table with existing data in line 0`

I don't know much about the internals of ql, but would it be possible to support this?

[2017-12-18 11:23] cznic commented on #193
It is possible to certain extent support that. The problematic parts are:

- It'll have to check every existing row of the table and thus take a long time.
- If the constraint fails at any row, it'll have to undo any mutation made to the table so far and thus take even more time.

For the above reasons the feature is not implemented. It's still possible to do the equivalent operation by doing:

-

[2017-12-18 12:24] bspaans commented on #193
Thanks for the quick reply!

I think it makes sense to apply the changes to a temporary table first. As far as I can tell `ALTER` statements usually have an implicit COMMIT so transactions shouldn't be an issue either. I might have a go at implementing this at some point, but will try the SQL workaround you mentioned first. Thanks!

[2018-01-17 11:05] dc0d commented on #132
This is closed. But for some reason it is listed under open issues.

[2018-01-17 11:10] cznic commented on #132
@dc0d This issue was never closed.

[2018-01-17 11:12] dc0d commented on #132
Sorry and Thanks!

[2018-01-25 09:46] cznic commented on #193
Assuming you're using the workaround and closing. Feel free to reopen/re-report the issue if needed.

[2018-01-25 09:46] #193 closed

[2018-02-13 20:32] tandr opened #194 "Allow different Marshallers (protobuf etc) as database marshalling format"
Currently database uses Go blob format (gob) to encode data for storage. It would be nice if I can choose what format (and compression?) to use.

(maybe it is possible already, and I am missing how)

Reasoning - https://github.com/alecthomas/go_serialization_benchmarks#results

[2018-02-28 08:38] Mparaiso opened #195 ""ALTER TABLE" then "INSERT" yields "panic: runtime error: index out of range [recovered]""
Hi, first thank you very much for your great work.

This test panics when trying to insert a record after an ALTER TABLE :

[code]
go test -tags purego

[code]

this test was both run on windows and linux with this go env :

[code]

[2018-02-28 09:14] #195 closed

[2018-02-28 09:15] cznic commented on #195
@Mparaiso Thanks for the report!

[2018-02-28 09:53] Mparaiso commented on #195
You rock. Thanks a lot.

[2018-03-20 05:18] errashe opened #196 "Autoincrement? for id column"
Is there such functionality in the library? No docs wasn't found (:

[2018-03-20 05:19] errashe commented on #196
Found id(), my bad

[2018-03-20 05:19] #196 closed

[2018-03-21 05:43] errashe opened #197 "Windows invalid URL escape panic"
panic: parse file://C:%5CUsers%5C*username*%5CDesktop%5Cq%5Cql.db: invalid URL escape "%5C"

[2018-03-21 05:52] errashe commented on #197
Not u'r fault, but library, which one i used to wrap your. My bad, again :D

[2018-03-21 05:52] #197 closed

[2018-04-25 20:58] mguentner opened #198 "[request]: Build dynamic query builder similar to sequel (rb)"

[2018-04-25 21:03] cznic commented on #198
What is 'sequel (rb)'?

[2018-04-25 21:04] mguentner commented on #198
I hit the "Comment" button too soon.

[2018-04-26 08:54] cznic commented on #198
I'm afraid this does not fit the existing QL mechanism. The linked article says this:

The problem is, that in QL a dataset does not exists. Or more precisely, it never materializes in its entirety. QL translates the query to a function that on every call computes and returns just one row of the dataset. The nice property of a "frozen" dataset is that it can be reused and (sub)queried in different

[2018-05-07 17:13] cznic commented on #198
@mguentner I've tried to code something in branch `issue198`. Please take a look and let me know IIUC the goal. The code is dirty copy pasting and not at all undocumented, but the point of your interest is perhaps mainly the test at https://github.com/cznic/ql/blob/0469cd0e545deca4543e5c709b6edc9c5054a077/all_test.go#L3953.

The new API is mostly ad hoc, so any suggestions are welcome, thanks.

[2018-05-07 17:40] mguentner commented on #198
Awesome! This already looks really nice. Thank you.

The expression API should allow for an identity Expression that is ignored and forms the start of a chain when the chain links are not known at compile time or should be constructed imperatively:

[code]

[code]
Could be enough.

Let me know if you see another way of constructing such a query using your current API since my example is just a nai

[2018-05-07 21:42] mguentner commented on #198
LGTM ;)

[2018-05-08 08:10] cznic commented on #198
Also https://github.com/cznic/ql/commit/52dc064dbc0a58f4941c1456b0896e4671bafe57 updates this issue.

@mguentner I'd like to ask you to now try to use this branch for some time, say a week or so. Let's collect your experiences and iterate over any troubles you may run into. After we'll eventually think it's ready to publish, it'll be committed to the master branch. Thanks.

[2018-05-16 03:58] shogsbro opened #199 "vgo get issue - expected?"
$ vgo get github.com/cznic/ql
vgo: finding github.com/cznic/ql v1.1.0
vgo: downloading github.com/cznic/ql v1.1.0
vgo: resolving import "github.com/cznic/b"
vgo: finding github.com/cznic/b (latest)
vgo: adding github.com/cznic/b v0.0.0-20180115125044-35e9bbe41f07
vgo: resolving import "github.com/cznic/lldb"
vgo: finding github.com/cznic/lldb (latest)
vgo: adding github.com/cznic/lldb v1.1.0
vgo:

[2018-05-16 09:43] cznic commented on #198
@mguentner Have you had a chance to work with the new API? If so, please provide feedback, thank you.

[2018-05-16 10:02] mguentner commented on #198
@cznic Not yet. Needed to refactor a lot of stuff before I change the database layer again. Once I've used the new API, I will update this issue with feedback. I promise.

[2018-05-16 10:25] cznic commented on #198
No hurry, no problem. Thanks.

[2018-05-17 16:49] didip opened #200 "Do you have plans to support expirable rows (rows with TTL)?"
I couldn't find such info in your godoc.

Some data are transient by nature, it would be nice for ql to support rows with TTL.

[2018-05-21 21:36] didip opened #201 "How to run all benchmark tests?"
Is this it?

[code]

[2018-05-21 21:40] didip commented on #201
That command gives me a lot of benchmark tests, impressive!

[2018-05-21 22:06] didip commented on #201
I am satisfied with what I found.

[2018-05-21 22:06] #201 closed

[2018-05-22 08:26] cznic commented on #200
Well, that's CQL. I now looked at SQL databases and I cannot find one supporting TTL.

Anyway, I see the value of this feature in certain scenarios. Some notes:

- Adding a new `USING` keyword. Used by other SQL dialects, so not much of a concern.
- Adding a new `TTL` keyword. This I would consider a backward incompatible change. With the `vgo` proposal now accepted, it can be solved, though. Alte

[2018-05-24 12:56] mguentner commented on #198
```ql.NewSelectStmt(ql.NewField("COUNT(*)", "")).From("users").Where(...)``` does not work.

-> invalid expression COUNT(*)

however ```ql.NewSelectStmt(ql.NewField("COUNT", "")).From("users").Where(...)``` does work but does not make sense in SQL.

[2018-05-24 13:16] cznic commented on #198
This is working as documented. 'COUNT(*)' is not a field name, it's an expression. This works

[code]

[2018-05-24 13:18] mguentner commented on #198
Indeed. Thanks!

[2018-05-25 14:54] cznic commented on #199
@shogsbro I've tried to provide more info at https://github.com/golang/go/issues/25164#issuecomment-392083411.

[2018-06-02 09:35] cznic commented on #200
@didip Gentle ping.

[2018-06-25 07:47] bangzek opened #202 "Case Insensitive Table and Field Name"
Like any other SQL database out there.

[2018-06-25 08:39] cznic commented on #202
It's not like any other SQL database out there. Some are case sensitive, some are not and some offer a user choice for that.

However, it should not be too hard to implement and make the feature available via a choice in the URL string. See how the `headroom` parameter is [handled](https://github.com/cznic/ql/blob/eccf3e9caa43fab70d7ddfdee5c3fb73fc76c2a1/driver.go#L188), for example.

PRs are welc

[2018-07-19 16:47] decathorpe opened #203 "storage_test: compilation failure with go 1.11"
[code]

[2018-07-19 18:39] cznic commented on #203
The `dbg` does exist at the line you reported. I can easily remove it, but I believe the compilation failure in go1.11 is most probably a `vet` failure. `dbg` is not a well know function taking formatting string in its first arument, like `fmt.Printf`, for example.

I don't see any `ql` bug here. Please report this problem directly at the Go issue tracker. Thank you.

[2018-07-19 18:50] cryptix commented on #203
I think this is unfortunate false-positive but I fear a lot of people might come here for this.

Would `dbg("Error %s", err)` work as well?

[2018-07-19 19:04] cznic commented on #203
Sure it will. But the language specification does not allow the Go compiler to reject a valid program, AFAICT. At least I recall I've been told that while discussing some other issue I forgot already about.

Anyway, if I forget a valid format directive in a call to `fmt.Printf`, `log.Printf` etc, I'm actually quite happy `vet` catches the problem. The problem is that there's no problem in a call t

[2018-07-19 20:35] decathorpe commented on #203
Thanks for looking into this -  I reported this as a probable error in `go vet` here: https://github.com/golang/go/issues/26486

[2018-07-19 20:44] ianlancetaylor commented on #203
@cznic I came here from the Go project issue.  The `dbg` function does indeed pass its argument to `fmt.Printf`, so the call to `dbg("", err)` does look wrong to me.  Why does it seem right to you?

[2018-07-19 21:04] cznic commented on #203
@ianlancetaylor The code seen in https://github.com/cznic/ql/issues/203#issuecomment-406381754 handles specially the first argument of `dbg` when it's equal to `""` in such a way that it becomes a valid format string of `fmt.Printf`.

It's not nice or idiomatic code, but I use the `dbg` a) for years b) as a quick and dirty debuging aid. In those years, I've typed the call probably some thousands o

[2018-07-19 21:16] ianlancetaylor commented on #203
Ah, I see, sorry for missing that.

I think that on balance vet is making the right choice here but let's discuss that over on the Go project issue.

[2018-07-24 08:53] cznic commented on #203
This should be now fixed at tip: https://go-review.googlesource.com/c/go/+/125039

[2018-08-01 15:39] sbinet commented on #199
can be closed as well. (see cznic/internal#5.)

[2018-08-02 12:07] sbinet opened #205 "release: tag a new release with Go modules support ?"
now that https://github.com/cznic/ql/pull/204 is in, `cznic/ql` has (initial) support for Go modules.

do you think we could tag it (`v1.2.0`? `v1.1.1`?) so `go mod tidy` would pick it up in downstream clients?

[2018-08-02 12:58] cznic commented on #205
So far I've never used git tags nor Go modules and I have insufficient knowledge about both of that to answer your question.

I think you know what's the best to do in this case and you're a trusted developer by many, me included.

Would you mind to take care of this on your own? I hope to learn from the steps you will take ;-)

Partially related: You've contributed to this project but I forgot to

[2018-08-02 13:12] sbinet commented on #205
thanks for the vote of confidence :)

I'll add myself to the `CONTRIBUTORS` file and then run `git tag v1.2.0`.

I think that's all there is to it. (oops, I'll also add a little blurb to `doc.go`.)
I am learning also the best practices for Go with modules...

[2018-08-02 13:51] #205 closed

[2018-08-12 10:31] decathorpe commented on #203
I can confirm that go 1.11beta3 contains the fix. Thanks for your help!

[2018-08-12 10:31] #203 closed

[2018-08-14 09:13] cznic commented on #199
Thanks @sbinet , closing.

[2018-08-14 09:13] #199 closed

[2018-09-20 17:09] awildeep commented on #181
What about leveraging v8 to help support JSON parsing?

[2018-09-21 09:01] cznic commented on #181
I believe a JSON parser is the easy and small part of this issue.

[2018-09-21 09:03] cznic commented on #181
If someone else can write the other necessary gears, which I have no idea about, I think I can prototype a JSON parser in maybe a day or so.

[2018-09-21 10:33] cryptix commented on #181
correct me if I'm wrong but in postgres it's nice to have this on the query-language level because you reduce the amount of _context switching_ between database and application layer (i.e. don't have to filter the results). Is this also the case for embedded databases? Here it seems to be _just_ a question of cleaner processing seperaration.

I only did a quick search but these to packages seem to

[2018-10-06 18:04] avelner opened #207 "invalid memory address or nil pointer dereference"
this is my smallest example which crashes, is you want more information please let me know

[code]

[2018-10-06 18:12] cznic commented on #207
I can reproduce the failure, Thanks for reporting the issue.

[2018-10-08 12:49] avelner opened #208 "subquery no result"
[code]

Problem no result from QL

[2018-10-08 13:22] avelner commented on #208
Is there a way that I can help  (haven't looked at the code base yet)

Problem seems to be a subquery which does not return results:

SELECT DISTINCT a FROM test WHERE a NOT IN (SELECT a FROM test where 1 = 0);
gives no results

SELECT DISTINCT a FROM test WHERE a NOT IN (SELECT 1 AS a);
gives error: IN (SELECT 1 AS a;): invalid field type: ql.idealInt

queries below give correct results
SELECT DI

[2018-10-08 14:00] avelner commented on #208
in expr.go is says (around line 3264)

[code]

which should be (i think)

[code]

can you check this

[2018-10-08 14:05] cznic commented on #208
@avelner Please test branch `issue208` if the fix works for you. Thanks.

[2018-10-08 14:15] avelner commented on #208
will test tonight, have to travel now

[2018-10-08 17:06] avelner commented on #208
Tested, works, thanks for the quick response.

[2018-10-08 17:06] #208 closed, assigned to cznic

[2018-10-09 09:55] #207 closed

[2018-10-10 20:05] #177 closed